@model POSApp.Core.Dtos.PosScreen
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PosLayout.cshtml";
}
<style>
    .location-badge{
        position: absolute;
        bottom: 0.5em;
        right: 0.5em;
        padding: 0 0.5em;
        background-color: red;
        color: white;
        text-align: center;
        border-radius: 1000px;
        border: thin solid #fff;
        box-shadow: 2px 1px 5px #000;
    }
</style>
<div class="wrapper rtl rtl-inv">
    <header class="main-header">
        <a href="@Url.Action("Index","Home")" class="logo">
            <span class="logo-mini">POS</span>
            <span class="logo-lg">Cosmic<b>POS</b></span>
        </a>
        <nav class="navbar navbar-static-top" role="navigation">

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li><a href="#" class="clock">Fri 8 Mar 2019 11:18 AM</a></li>
                    
                   
                    <li><a href="@Url.Action("CustomerDisplay","PointOfSale")" target="_blank"><i class="fa fa-desktop"></i></a></li>
                   @if (Model.PosHolds.Any())
                   {
                       <li class="dropdown notifications-menu" id="suspended_sales">
                           <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                               <i class="fa fa-bell-o"></i>
                               <span class="label label-warning">@Model.PosHolds.Count</span>
                           </a>
                           <ul class="dropdown-menu">
                               <li class="header">
                                   <input type="text" autocomplete="off" data-list=".list-suspended-sales" name="filter-suspended-sales" id="filter-suspended-sales" class="form-control input-sm kb-text clearfix" placeholder="Filter by Reference">
                               </li>
                               <li>
                                   <ul class="menu" style="overflow: hidden; width: 100%; height: 200px;">
                                        @foreach (var modelPosHold in Model.PosHolds)
                                        {
                                            <li class="list-suspended-sales">
                                                <a href="@Url.Action("Index","PointOfSale",new{hold=modelPosHold.Id})" class="load_suspended">@modelPosHold.Description<br><div class="bold">@modelPosHold.Ref</div></a> </li>
                                        }
                                   </ul>
                               </li>
                               <li class="footer"><a href="@Url.Action("OpenedBills","PointOfSale")">View All</a></li>
                           </ul>
                       </li>
                   }
                    @*<li><a href="#/register_details" data-toggle="ajax">Register Details</a></li>
                    <li><a href="#/today_sale" data-toggle="ajax">Today's Sale</a></li>*@
                    <li><a href="@Url.Action("CloseTill","PointOfSale")" >Close Till</a></li>
                    <li><a href="@Url.Action("Index","Home")"><i class="fa fa-home"></i></a></li>

                    @*<li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="#/uploads/avatars/thumbs/male.png" class="user-image" alt="Avatar">
                                <span>Admin Admin</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="user-header">
                                    <img src="#/uploads/avatars/male.png" class="img-circle" alt="Avatar">
                                    <p>
                                        admin@tecdiary.com <small>Member since Thu 25 Jun 2015 11:59 AM</small>
                                    </p>
                                </li>
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#/users/profile/1" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="#/logout" class="btn btn-default btn-flat sign_out">Sign Out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>*@
                    <li>
                        <a href="#" data-toggle="control-sidebar" class="sidebar-icon"><i class="fa fa-folder sidebar-icon"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="content-wrapper" style="min-height: 440px;">
   @Html.Raw(ViewBag.alert)

        <table style="width: 100%;" class="layout-table">
            <tbody>
                <tr>
                    <td style="width: 460px;">
                        <div id="pos">
                            <form action="@Url.Action("Index","PointOfSale")" id="pos-sale-form" method="post" accept-charset="utf-8">
                                <input type="hidden" name="spos_token" value="c639bd60c8d7bfe09c3b3674e0286349">
                                <div class="well well-sm" id="leftdiv">
                                    <div id="lefttop" style="margin-bottom: 5px;">
                                        <div class="form-group" style="margin-bottom: 5px;">
                                            <div class="input-group">
                                                <select name="customer_id" id="spos_customer" data-placeholder="Select Customer" required="required" class="form-control select2 select2-hidden-accessible" style="width: 100%; position: absolute;" tabindex="-1" aria-hidden="true">
                                                    @foreach (var selectListItem in Model.Customers)
                                                    {
                                                        <option value="@selectListItem.Value" selected="@selectListItem.Selected">@selectListItem.Text</option>
                                                    }
                                                </select>
                                                <div class="input-group-addon no-print" style="padding: 2px 5px;">
                                                    <a href="#" id="add-customer" class="external" data-toggle="modal" data-target="#myModal"><i class="fa fa-2x fa-plus-circle" id="addIcon"></i></a>
                                                </div>
                                            </div>
                                            <div style="clear: both;"></div>
                                        </div>
                                        <div class="form-group" style="margin-bottom: 5px;">
                                            <div class="input-group" style="width: 100%;">
                                                <select name="table_id" id="spos_table" data-placeholder="Select Table"  class="form-control select2 select2-hidden-accessible" style="width: 100%; position: absolute;" tabindex="-1" aria-hidden="true">
                                                    <option value="">Select a Table</option>
                                                    @foreach (var selectListItem in Model.DineTables)
                                                    {
                                                        <option value="@selectListItem.Value" selected="@selectListItem.Selected" >@selectListItem.Text</option>
                                                    }
                                                </select>
                                            </div>
                                            <div style="clear: both;"></div>
                                        </div>
                                        <div class="form-group" style="margin-bottom: 5px;">
                                            <input type="text" name="hold_ref" value="@Model.HoldRef" id="hold_ref" class="form-control kb-text" placeholder="Reference Note">
                                        </div>
                                        <div class="form-group" style="margin-bottom: 5px;">
                                                <input type="text" name="code" id="add_item" class="form-control ui-autocomplete-input" placeholder="Search product by code or name, you can scan barcode too" autocomplete="off">
                                            </div>
                                    </div>
                                    <div id="printhead" class="print">
                                        <h2><strong>Cosmic POS</strong></h2>
                                        88-Temple Road, Opp. Gourmet<br>
                                        54000, Lahore<br>
                                        <p>Date: Fri 8 Mar 2019</p>
                                    </div>
                                    <div id="print" class="fixed-table-container">
                                            <div id="list-table-div" style="overflow: hidden; width: auto; height: 0px;">
                                                <div class="fixed-table-header">
                                                    <table class="table table-striped table-condensed table-hover list-table" style="margin: 0;">
                                                        <thead>
                                                            <tr class="success">
                                                                <th>Product</th>
                                                                <th style="width: 15%; text-align: center;">Price</th>
                                                                <th style="width: 15%; text-align: center;">Qty</th>
                                                                <th style="width: 20%; text-align: center;">Subtotal</th>
                                                                <th style="width: 20px;" class="satu"><i class="fa fa-trash-o"></i></th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                                <table id="posTable" class="table table-striped table-condensed table-hover list-table" style="margin: 0px;" data-height="100">
                                                    <thead>
                                                        <tr class="success">
                                                            <th>Product</th>
                                                            <th style="width: 15%; text-align: center;">Price</th>
                                                            <th style="width: 15%; text-align: center;">Qty</th>
                                                            <th style="width: 20%; text-align: center;">Subtotal</th>
                                                            <th style="width: 20px;" class="satu"><i class="fa fa-trash-o"></i></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div style="clear: both;"></div>
                                        <div id="totaldiv">
                                            <table id="totaltbl" class="table table-condensed totals" style="margin-bottom: 10px;">
                                                <tbody>
                                                    <tr class="info">
                                                        <td width="25%">Total Items</td>
                                                        <td class="text-right" style="padding-right: 10px;"><span id="count">0 (0.00)</span></td>
                                                        <td width="25%">Total</td>
                                                        <td class="text-right" colspan="2"><span id="total">0.00</span></td>
                                                    </tr>
                                                    <tr class="info">
                                                        <td width="25%"><a href="#" id="add_discount">Discount</a></td>
                                                        <td class="text-right" style="padding-right: 10px;"><span id="ds_con">(0.00) 0.00</span></td>
                                                        <td width="25%"><a href="#" id="add_tax">Order Tax</a></td>
                                                        <td class="text-right"><span id="ts_con">0</span></td>
                                                    </tr>
                                                    <tr class="success">
                                                        <td colspan="2" style="font-weight: bold;">
                                                            Total Payable
                                                            <a role="button" data-toggle="modal" data-target="#noteModal">
                                                                <i class="fa fa-comment"></i>
                                                            </a>
                                                        </td>
                                                        <td class="text-right" colspan="2" style="font-weight: bold;"><span id="total-payable">0</span></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div id="botbuttons" class="col-xs-12 text-center">
                                        <div class="row">
                                            <div class="col-xs-4" style="padding: 0;">
                                                <div class="btn-group-vertical btn-block">
                                                    <button type="button" class="btn btn-warning btn-block btn-flat" id="suspend">Hold</button>
                                                    <button type="button" class="btn btn-danger btn-block btn-flat" id="reset">Cancel</button>
                                                </div>
                                            </div>
                                            <div class="col-xs-4" style="padding: 0 5px;">
                                                <div class="btn-group-vertical btn-block">
                                                    <button type="button" class="btn bg-purple btn-block btn-flat" id="print_order">Print Order</button>
                                                    <button type="button" class="btn bg-navy btn-block btn-flat" id="print_bill">Print Bill</button>
                                                </div>
                                            </div>
                                            <div class="col-xs-4" style="padding: 0;">
                                                <button type="button" class="btn btn-success btn-block btn-flat" id="payment" style="height: 67px;">Payment</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <span id="hidesuspend"></span>
                                    <input type="hidden" name="spos_note" value="" id="spos_note">
                                    <div id="payment-con">
                                        <input type="hidden" name="amount" id="amount_val" value="">
                                        <input type="hidden" name="balance_amount" id="balance_val" value="">
                                        <input type="hidden" name="paid_by" id="paid_by_val" value="cash">
                                        <input type="hidden" name="cc_no" id="cc_no_val" value="">
                                        <input type="hidden" name="paying_gift_card_no" id="paying_gift_card_no_val" value="">
                                        <input type="hidden" name="cc_holder" id="cc_holder_val" value="">
                                        <input type="hidden" name="cheque_no" id="cheque_no_val" value="">
                                        <input type="hidden" name="cc_month" id="cc_month_val" value="">
                                        <input type="hidden" name="cc_year" id="cc_year_val" value="">
                                        <input type="hidden" name="cc_type" id="cc_type_val" value="">
                                        <input type="hidden" name="cc_cvv2" id="cc_cvv2_val" value="">
                                        <input type="hidden" name="balance" id="balance_val" value="">
                                        <input type="hidden" name="payment_note" id="payment_note_val" value="">
                                    </div>
                                    <input type="hidden" name="customer" id="customer" value="3">
                                    <input type="hidden" name="order_tax" id="tax_val" value="5%">
                                    <input type="hidden" name="order_discount" id="discount_val" value="0">
                                    <input type="hidden" name="count" id="total_item" value="">
                                    <input type="hidden" name="did" id="is_delete" value="@Model.Hold">
                                    <input type="hidden" name="eid" id="is_delete" value="@Model.SessionCode">
                                    <input type="hidden" name="total_items" id="total_items" value="0">
                                    <input type="hidden" name="total_quantity" id="total_quantity" value="0">
                                    <input type="submit" id="submit" value="Submit Sale" style="display: none;">
                            </form>
                        </div>
                    </td>
                    <td>
                        <div class="contents" id="right-col" style="height: 303px;">
                            <div id="item-list">
                                <div class="items" style="overflow: hidden; width: auto; height: 400px;">
                                    <div id="renderProducts">

                                        @if (Model.PosProducts.Count>0)
                                        {
                                            foreach (var product in Model.PosProducts)
                                            {
                                                <button type="button" data-name="@product.ProductName" id="product-@product.ProductId" value="@product.ProductCode" class="btn btn-both btn-flat product"><span class="bg-img"><img src="@product.ProductImage" alt="@product.ProductName" style="width: 100px; height: 100px;"><div class="location-badge">@product.Size</div></span><span><span>@product.ProductName</span></span></button>

                                            }
                                        }
                                        else
                                        {
                                            <h4 class="text-center text-info" style="margin-top:50px;">Category is empty</h4>
                                        }
                                    </div>
                                </div>


                            </div>
                            @*<div class="product-nav">
                                <div class="btn-group btn-group-justified">
                                    <div class="btn-group">
                                        <button style="z-index: 10002;" class="btn btn-warning pos-tip btn-flat" type="button" id="previous" disabled="disabled"><i class="fa fa-chevron-left"></i></button>
                                    </div>
                                    <div class="btn-group">
                                        <button style="z-index: 10003;" class="btn btn-success pos-tip btn-flat" type="button" id="sellGiftCard"><i class="fa fa-credit-card" id="addIcon"></i> Sell Gift Card</button>
                                    </div>
                                    <div class="btn-group">
                                        <button style="z-index: 10004;" class="btn btn-warning pos-tip btn-flat" type="button" id="next" disabled="disabled"><i class="fa fa-chevron-right"></i></button>
                                    </div>
                                </div>
                            </div>*@
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<aside class="control-sidebar control-sidebar-dark" id="categories-list">
    <div class="tab-content sb">
        <div class="tab-pane active sb" id="control-sidebar-home-tab">
            <div id="filter-categories-con">
                <input type="text" autocomplete="off" data-list=".control-sidebar-menu" name="filter-categories" id="filter-categories" class="form-control sb col-xs-12 kb-text" placeholder="Type to filter categories" style="margin-bottom: 20px;">
            </div>
            <div class="clearfix sb"></div>

                <div id="category-sidebar-menu" style="overflow: hidden; width: 100%; height: 250px;">
                    <ul class="control-sidebar-menu" >
                        @foreach (var category in Model.PosCategories)
                        {
                            if (category.CategoryId == Model.PosCategories.FirstOrDefault().CategoryId)
                            {
                                <li>
        
                                    <a href="#" class="category active" id="@category.CategoryId">
                                        <div class="menu-icon"><img src="@category.CategoryImage" alt="" class="img-thumbnail img-responsive"></div>
                                        <div class="menu-info"><h4 class="control-sidebar-subheading">@category.CategoryName</h4>
                                            <p>@category.CategoryGroup</p>
                                        </div>
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li>
        
                                    <a href="#" class="category " id="@category.CategoryId">
                                        <div class="menu-icon"><img src="@category.CategoryImage" alt="" class="img-thumbnail img-responsive"></div>
                                        <div class="menu-info">
                                            <h4 class="control-sidebar-subheading">@category.CategoryName</h4>
                                            <p>@category.CategoryGroup</p>
                                        </div>
                                    </a>
                                </li>
                            }
  

                        }
                    </ul>
                </div>
            </div>
        </div>
</aside>


<div id="order_tbl" style="display: none;">
    <span id="order_span">
        <style>
            .bb td, .bb th {
                border-bottom: 1px solid #DDD;
            }
        </style>
        <span style="text-align: center;">
            <h3>CosmicPOS</h3><h4>Order</h4>
        </span><h5>C: Walk-in Client</h5><h5>R: </h5><h5>U: admin</h5><h5>T: Fri 8 Mar 2019 11:18 AM</h5>
    </span>
    <table id="order-table" class="prT table table-striped table-condensed" style="width: 100%; margin-bottom: 0;"><tbody><tr class="bb row_1" data-item-id="1"><td>#1 Minion Hi (TOY01)</td><td>[ 1 ]</td></tr><tr class="bb row_2" data-item-id="2"><td>#2 Minion Banana (TOY02)</td><td>[ 1 ]</td></tr></tbody></table>
</div>
<div id="bill_tbl" style="display: none;">
    <span id="bill_span">
        <style>
            .bb td, .bb th {
                border-bottom: 1px solid #DDD;
            }
        </style>
        <span style="text-align: center;">
            <h3>CosmicPOS</h3><h4>Bill</h4>
        </span><h5>C: Walk-in Client</h5><h5>R: </h5><h5>U: admin</h5><h5>T: Fri 8 Mar 2019 11:18 AM</h5>
    </span>
    <table id="bill-table" class="prT table table-striped table-condensed" style="width: 100%; margin-bottom: 0;" width="100%"><tbody><tr class="row_1" data-item-id="1"><td colspan="2">#1 Minion Hi (TOY01)</td></tr><tr class="bb row_1" data-item-id="1"><td>(1 x 15.00)</td><td style="text-align: right;">15.00</td></tr><tr class="row_2" data-item-id="2"><td colspan="2">#2 Minion Banana (TOY02)</td></tr><tr class="bb row_2" data-item-id="2"><td>(1 x 15.00)</td><td style="text-align: right;">15.00</td></tr></tbody></table>
    <table id="bill-total-table" class="prT table table-striped table-condensed" style="width: 100%; margin-bottom: 0;" width="100%"><tbody><tr class="bb"><td>Total Items</td><td style="text-align: right;">2 (2)</td></tr><tr class="bb"><td>Total</td><td style="text-align: right;">30.00</td></tr><tr class="bb"><td>Order Tax</td><td style="text-align: right;">1.50</td></tr><tr class="bb"><td>Grand Total</td><td style="text-align: right;">31.50</td></tr><tr class="bb"><td>Rounding</td><td style="text-align: right;">0.00</td></tr><tr class="bb"><td>Total Payable</td><td style="text-align: right;">31.50</td></tr><tr class="bb"><td colspan="2" style="text-align: center;">Merchant Copy</td></tr></tbody></table>
</div>
<div style="width: 380px; background: #FFF; display: block">
    <div id="order-data" style="display: none;" class="text-center">
        <h1>CosmicPOS</h1>
        <h2>Order</h2>
        <div id="preo" class="text-left"></div>
    </div>
    <div id="bill-data" style="display: none;" class="text-center">
        <h1>CosmicPOS</h1>
        <h2>Bill</h2>
        <div id="preb" class="text-left"></div>
    </div>
</div>
<div id="ajaxCall"><i class="fa fa-spinner fa-pulse"></i></div>
<div class="modal" data-easein="flipYIn" id="gcModal" tabindex="-1" role="dialog" aria-labelledby="mModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                <h4 class="modal-title" id="myModalLabel">Sell Gift Card</h4>
            </div>
            <div class="modal-body">
                <p>Please fill in the information below</p>
                <div class="alert alert-danger gcerror-con" style="display: none;">
                    <button data-dismiss="alert" class="close" type="button">×</button>
                    <span id="gcerror"></span>
                </div>
                <div class="form-group">
                    <label for="gccard_no">Card No</label> *
                    <div class="input-group">
                        <input type="text" name="gccard_no" value="" class="form-control" id="gccard_no">
                        <div class="input-group-addon" style="padding-left: 10px; padding-right: 10px;"><a href="#" id="genNo"><i class="fa fa-cogs"></i></a></div>
                    </div>
                </div>
                <input type="hidden" name="gcname" value="Gift Card" id="gcname">
                <div class="form-group">
                    <label for="gcvalue">Value</label> *
                    <input type="text" name="gcvalue" value="" class="form-control" id="gcvalue">
                </div>
                <div class="form-group">
                    <label for="gcprice">Price</label> *
                    <input type="text" name="gcprice" value="" class="form-control" id="gcprice">
                </div>
                <div class="form-group">
                    <label for="gcexpiry">Expiry Date</label> <input type="text" name="gcexpiry" value="" class="form-control" id="gcexpiry">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button type="button" id="addGiftCard" class="btn btn-primary">Sell Gift Card</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" data-easein="flipYIn" id="dsModal" tabindex="-1" role="dialog" aria-labelledby="dsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                <h4 class="modal-title" id="dsModalLabel">Discount (5 or 5%)</h4>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control input-sm kb-pad" id="get_ds" onclick="this.select();" value="">
                <label class="checkbox" for="apply_to_order">
                    <div class="iradio_square-blue checked" style="position: relative;" aria-checked="false" aria-disabled="false"><input type="radio" name="apply_to" value="order" id="apply_to_order" checked="checked" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div>
                    Apply to order total
                </label>
                <label class="checkbox" for="apply_to_products">
                    <div class="iradio_square-blue" style="position: relative;" aria-checked="false" aria-disabled="false"><input type="radio" name="apply_to" value="products" id="apply_to_products" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div>
                    Apply to all order items
                </label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm pull-left" data-dismiss="modal">Close</button>
                <button type="button" id="updateDiscount" class="btn btn-primary btn-sm">Update</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" data-easein="flipYIn" id="tsModal" tabindex="-1" role="dialog" aria-labelledby="tsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                <h4 class="modal-title" id="tsModalLabel">Tax (5 or 5%)</h4>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control input-sm kb-pad" id="get_ts" onclick="this.select();" value="">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm pull-left" data-dismiss="modal">Close</button>
                <button type="button" id="updateTax" class="btn btn-primary btn-sm">Update</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" data-easein="flipYIn" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="noteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                <h4 class="modal-title" id="noteModalLabel">Note</h4>
            </div>
            <div class="modal-body">
                <textarea name="snote" id="snote" class="pa form-control kb-text"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm pull-left" data-dismiss="modal">Close</button>
                <button type="button" id="update-note" class="btn btn-primary btn-sm">Update</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" data-easein="flipYIn" id="proModal" tabindex="-1" role="dialog" aria-labelledby="proModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-primary">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                <h4 class="modal-title" id="proModalLabel">
                    Payment
                </h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-striped">
                    <tbody>
                        <tr>
                            <th style="width: 25%;">Net Price</th>
                            <th style="width: 25%;"><span id="net_price"></span></th>
                            <th style="width: 25%;">Product Tax</th>
                            <th style="width: 25%;"><span id="pro_tax"></span> <span id="pro_tax_method"></span></th>
                        </tr>
                    </tbody>
                </table>
                <input type="hidden" id="row_id">
                <input type="hidden" id="item_id">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nPrice">Unit Price</label> <input type="text" class="form-control input-sm kb-pad" id="nPrice" onclick="this.select();" placeholder="New Price">
                        </div>
                        <div class="form-group">
                            <label for="nDiscount">Discount</label> <input type="text" class="form-control input-sm kb-pad" id="nDiscount" onclick="this.select();" placeholder="Discount">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nQuantity">Quantity</label> <input type="text" class="form-control input-sm kb-pad" id="nQuantity" onclick="this.select();" placeholder="Current Quantity">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="nComment">Comment</label> <textarea class="form-control kb-text" id="nComment"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button class="btn btn-success" id="editItem">Update</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" data-easein="flipYIn" id="susModal" tabindex="-1" role="dialog" aria-labelledby="susModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                <h4 class="modal-title" id="susModalLabel">Suspend Sale</h4>
            </div>
            <div class="modal-body">
                <p>Type Reference Note</p>
                <div class="form-group">
                    <label for="reference_note">Reference Note</label> <input type="text" name="reference_note" value="@Model.HoldRef" class="form-control kb-text" id="reference_note">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal"> Close </button>
                <button type="button" id="suspend_sale" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" data-easein="flipYIn" id="saleModal" tabindex="-1" role="dialog" aria-labelledby="saleModalLabel" aria-hidden="true"></div>
<div class="modal" data-easein="flipYIn" id="opModal" tabindex="-1" role="dialog" aria-labelledby="opModalLabel" aria-hidden="true"></div>
<div class="modal" data-easein="flipYIn" id="payModal" tabindex="-1" role="dialog" aria-labelledby="payModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-success">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                <h4 class="modal-title" id="payModalLabel">
                    Payment
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-9">
                        <div class="font16">
                            <table class="table table-bordered table-condensed" style="margin-bottom: 0;">
                                <tbody>
                                    <tr>
                                        <td style="border-right-color: #FFF !important;" width="25%">Total Items</td>
                                        <td class="text-right" width="25%"><span id="item_count">0.00</span></td>
                                        <td style="border-right-color: #FFF !important;" width="25%">Total Payable</td>
                                        <td class="text-right" width="25%"><span id="twt">0.00</span></td>
                                    </tr>
                                    <tr>
                                        <td style="border-right-color: #FFF !important;">Total Paying</td>
                                        <td class="text-right"><span id="total_paying">0.00</span></td>
                                        <td style="border-right-color: #FFF !important;">Balance</td>
                                        <td class="text-right"><span id="balance">0.00</span></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="clearfix"></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="note">Note</label> <textarea name="note" id="note" class="pa form-control kb-text"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="amount">Amount</label> <input name="amount" type="text" id="amount" class="pa form-control kb-pad amount">
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="paid_by">Paying by</label>
                                    <select id="paid_by" class="form-control paid_by select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true">
                                        <option value="cash">Cash</option>
                                        <option value="CC">Credit Card</option>
                                        <option value="cheque">Cheque</option>
                                        <option value="gift_card">Gift Card</option>
                                        <option value="stripe">Stripe</option>
                                        <option value="other">Other</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group gc" style="display: none;">
                                    <label for="gift_card_no">Gift Card No</label> <input type="text" id="gift_card_no" class="pa form-control kb-pad gift_card_no gift_card_input">
                                    <div id="gc_details"></div>
                                </div>
                                <div class="pcc" style="display: none;">
                                    <div class="form-group">
                                        <input type="text" id="swipe" class="form-control swipe swipe_input" placeholder="Swipe card here then write security code manually">
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <input type="text" id="pcc_no" class="form-control kb-pad" placeholder="Credit Card No">
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <input type="text" id="pcc_holder" class="form-control kb-text" placeholder="Holder Name">
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            <div class="form-group">
                                                <select id="pcc_type" class="form-control pcc_type select2 select2-hidden-accessible" placeholder="Card Type" tabindex="-1" aria-hidden="true">
                                                    <option value="Visa">Visa</option>
                                                    <option value="MasterCard">MasterCard</option>
                                                    <option value="Amex">Amex</option>
                                                    <option value="Discover">Discover</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            <div class="form-group">
                                                <input type="text" id="pcc_month" class="form-control kb-pad" placeholder="Month">
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            <div class="form-group">
                                                <input type="text" id="pcc_year" class="form-control kb-pad" placeholder="Year">
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            <div class="form-group">
                                                <input type="text" id="pcc_cvv2" class="form-control kb-pad" placeholder="CVV2">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pcheque" style="display: none;">
                                    <div class="form-group">
                                        <label for="cheque_no">Cheque No</label> <input type="text" id="cheque_no" class="form-control cheque_no kb-text">
                                    </div>
                                </div>
                                <div class="pcash">
                                    <div class="form-group">
                                        <label for="payment_note">Payment Note</label> <input type="text" id="payment_note" class="form-control payment_note kb-text">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3 text-center">

                        <div class="btn-group btn-group-vertical" style="width: 100%;">
                            <button type="button" class="btn btn-info btn-block quick-cash" id="quick-payable">
                                0.00
                            </button>
                            <button type="button" class="btn btn-block btn-warning quick-cash">10</button><button type="button" class="btn btn-block btn-warning quick-cash">20</button><button type="button" class="btn btn-block btn-warning quick-cash">50</button><button type="button" class="btn btn-block btn-warning quick-cash">100</button><button type="button" class="btn btn-block btn-warning quick-cash">500</button> <button type="button" class="btn btn-block btn-danger" id="clear-cash-notes">Clear</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal"> Close </button>
                <button class="btn btn-primary" id="submit-sale">Submit</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" data-easein="flipYIn" id="customerModal" tabindex="-1" role="dialog" aria-labelledby="cModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-primary">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                <h4 class="modal-title" id="cModalLabel">
                    Add Customer
                </h4>
            </div>
            <form action="@Url.Action("AddCustomer","PointOfSale")" id="customer-form" method="post" accept-charset="utf-8">
                <input type="hidden" name="spos_token" value="c639bd60c8d7bfe09c3b3674e0286349">
                <div class="modal-body">
                    <div id="c-alert" class="alert alert-danger" style="display: none;"></div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label class="control-label" for="code">
                                    Name
                                </label>
                                <input type="text" name="name" value="" class="form-control input-sm kb-text" id="cname" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="control-label" for="cemail">
                                    Email Address
                                </label>
                                <input type="text" name="email" value="" class="form-control input-sm kb-text" id="cemail" required>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="control-label" for="phone">
                                    Phone
                                </label>
                                <input type="text" name="phone" value="" class="form-control input-sm kb-pad" id="cphone" required>
                            </div>
                        </div>
                    </div>
                    @*<div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="control-label" for="cf1">
                                    Custom Field 1
                                </label>
                                <input type="text" name="cf1" value="" class="form-control input-sm kb-text" id="cf1">
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="control-label" for="cf2">
                                    Custom Field 2
                                </label>
                                <input type="text" name="cf2" value="" class="form-control input-sm kb-text" id="cf2">
                            </div>
                        </div>
                    </div>*@
                </div>
                <div class="modal-footer" style="margin-top: 0;">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal"> Close </button>
                    <button type="submit" class="btn btn-primary" id="add_customer"> Add Customer </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal" data-easein="flipYIn" id="posModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<div class="modal" data-easein="flipYIn" id="posModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true"></div>





@*Scripts*@

@*<script>
    $(document).ready(function() {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetCategories","PointOfSale")",
            success: function(data) {
                $('#renderCategory').html(data);
            },
            error: function(error) {
                console.log(error);
            }
    });
    });
</script>*@
<script type="text/javascript">
    var socket = null;

    function printBill(bill) {
        debugger;
        if (Settings.remote_printing == 1) {
            Popup($('#bill_tbl').html());
        } else if (Settings.remote_printing == 2) {
            if (socket.readyState == 1) {
                if (Settings.print_img == 1) {
                    $('#bill-data').show();
                    $('#preb').html(
                        '<pre style="background:#FFF;font-size:20px;margin:0;border:0;color:#000 !important;">' +
                        bill_data.info +
                        bill_data.items +
                        '\n' +
                        bill_data.totals +
                        '</pre>'
                    );
                    var element = $('#bill-data').get(0);
                    html2canvas(element, { scrollY: 0, scale: 1.7 }).then(function (canvas) {
                        var dataURL = canvas.toDataURL();
                        var socket_data = {
                            'printer': false,
                            'text': dataURL,
                            'cash_drawer': 0
                        };
                        socket.send(JSON.stringify({
                            type: 'print-img',
                            data: socket_data
                        }));
                        // return Canvas2Image.saveAsPNG(canvas);
                    });
                    setTimeout(function () {
                        $('#bill-data').hide();
                    },
                        500);
                } else {
                    var socket_data = {
                        'printer': false,
                        'logo': '/Content/images/cosmic.png',
                        'text': bill
                    };
                    socket.send(JSON.stringify({
                        type: 'print-receipt',
                        data: socket_data
                    }));
                }
                return false;
            } else {
                bootbox.alert('Unable to connect to socket, please make sure that server is up and running fine.');
                return false;
            }
        }
    }

    var order_printers = [];

    function printOrder(order) {
        if (Settings.remote_printing == 1) {
            Popup($('#order_tbl').html());
        } else if (Settings.remote_printing == 2) {
            if (socket.readyState == 1) {
                if (Settings.print_img == 1) {
                    $('#order-data').show();
                    $('#preo').html(
                        '<pre style="background:#FFF;font-size:20px;margin:0;border:0;color:#000 !important;">' +
                        order_data.info +
                        order_data.items +
                        '</pre>'
                    );
                    var element = $('#order-data').get(0);
                    html2canvas(element, { scrollY: 0, scale: 1.7 }).then(function (canvas) {
                        var dataURL = canvas.toDataURL();
                        var socket_data = {
                            'printer': false,
                            'text': dataURL,
                            'order': 1,
                            'cash_drawer': 0
                        };
                        socket.send(JSON.stringify({
                            type: 'print-img',
                            data: socket_data
                        }));
                        // return Canvas2Image.saveAsPNG(canvas);
                    });
                    setTimeout(function () {
                        $('#order-data').hide();
                    },
                        500);
                } else {
                    if (order_printers == '') {
                        var socket_data = {
                            'printer': false,
                            'order': true,
                            'logo': '/Content/images/cosmic.png',
                            'text': order
                        };
                        socket.send(JSON.stringify({ type: 'print-receipt', data: socket_data }));
                    } else {
                        $.each(order_printers,
                            function () {
                                var socket_data = {
                                    'printer': this,
                                    'logo': '/Content/images/cosmic.png',
                                    'text': order
                                };
                                socket.send(JSON.stringify({ type: 'print-receipt', data: socket_data }));
                            });
                    }
                }
                return false;
            } else {
                bootbox.alert('Unable to connect to socket, please make sure that server is up and running fine.');
                return false;
            }
        }
    }
</script>