@using POSApp.Core.Models
@model IEnumerable<POSApp.Core.Models.Expense>

@{

    ViewBag.Title = "ExpenseList";
    AlertModel alertModel = (AlertModel)TempData["Alert"];
}
@if (alertModel != null)
{
    @Html.Partial("~/Views/Shared/_AlertView.cshtml", alertModel)
}
@*<header class="page-header">
        <h2>Expenses</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="@Url.Action("Index","Home")">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Expense</span></li>
                <li><span>Expense</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>*@

<!-- start: page -->
<section class="panel">
    <header class="panel-heading">
        <div class="row">
            <div class="col-md-12">

                <div class="" id="header-flex">
                    <h3 class="wb-color" style="flex-grow: 8"><b>Expense  </b></h3>
                    <a href="@Url.Action("ExpenseExcelImport", "ExcelImport")" class="modalShow" style="flex-grow: 0.2">
                        <button type="button" class="btn outline-success btn-sm" id="#arrButtonIds"><i class="fa fa-plus pr-sm"></i>Import Data</button>

                    </a>
                    <a href="@Url.Action("AddExpense", "Expense")" class="modalShow" style="flex-grow: 0.2">
                        <button type="button" class="btn outline-success btn-sm" id="#arrButtonIds"><i class="fa fa-plus pr-sm"></i>Add Expense</button>

                    </a>
                    <a href="@Url.Action("ExpenseHeadList","Expense")" style="flex-grow: 0">
                        <button type="button" class="btn outline-danger btn-sm" id="#arrButtonIds"><i class="fa fa-list-ol pr-sm"></i>Expense Head List</button>

                    </a>
                </div>
            </div>
        </div>

        <h2 class="panel-title"></h2>
    </header>
    <div class="panel-body">
        <div class="table-responsive">

            <table class="table mb-none" style="width: 100%" id="datatable-default">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Expense Head</th>
                        <th>Employee</th>
                        <th>Amount</th>
                        <th>Description</th>
                        <th>Date</th>
                        <th>Action</th>


                    </tr>
                </thead>
                <tbody>
                    @{ int i = 1;}
                    @foreach (var expense in Model)
                    {
                        <tr>
                            <td>@(i++)</td>
                            <td>@expense.ExpenseHead.Name</td>
                            <td>@expense.EmployeeId</td>
                            <td>@expense.Amount</td>
                            <td>@expense.Description</td>
                            <td>@expense.Date.ToShortDateString()</td>
                            <td class="center">
                                <div class="btn-group">

                                    @*<a class="btn btn-default text-success btn-sm fa fa-download" href="#" data-toggle="tooltip" title="Download !"></a>
                                        <a href="#" class="btn btn-default text-danger  btn-sm fa fa-trash" data-toggle="tooltip" title="Delete !" onclick="return confirm('Are you sure?');"></a>*@

                                    @Html.ActionLink(" ", "UpdateExpense", "Expense", new { id = @expense.Id, storeId = @expense.StoreId }, new { @class = "btn btn-default text-success btn-sm fa fa-edit modalShow ", data_toggle = "tooltip", title = "Edit !" })
                                    @Html.ActionLink(" ", "DeleteExpense", "Expense", new { id = @expense.Id, storeId = @expense.StoreId }, new { @class = "btn btn-default text-danger  btn-sm fa fa-trash", data_toggle = "tooltip", title = "Delete !", onclick = "return confirm('Are you sure?');" })

                                </div>

                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>





<div id="ModalData"></div>
@section scripts
{
    <script>
        $('#datatable-default').dataTable();

        $('a.modalShow').on('click',
            function() {
               
                $.ajax({
                    url: this.href,
                    type: 'GET',
                    cache: false,
                    success: function (result) {
                        if (!$('#ordine').is(':visible')) {

                            $('#ModalData').html(result).find('#ordine').modal('show');
                        }
                    }
                });

                return false;
            });
        // Using that prm reference, hook _initializeRequest
        Sys.WebForms.PageRequestManager.getInstance().add_initializeRequest(InitializeRequestBuchung);

        // Abfangen von Mehrfachklicks auf Buttons für asynchrone Postbacks im Updatepanel
        function InitializeRequestBuchung(sender, args) {
            var arrButtonIds = ["ButtonInsert", "ButtonUpdate"];

            // Get a reference to the PageRequestManager.
            var prm = Sys.WebForms.PageRequestManager.getInstance();
            if (prm.get_isInAsyncPostBack() & jQuery.inArray(args.get_postBackElement().id, arrButtonIds) > -1) {
                args.set_cancel(true);
            }
        }  
    </script>
}






