@model POSApp.Core.ViewModels.ProductSubViewModel
@{
    Layout = null;
}
<div id="ordine" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">


    @using (Ajax.BeginForm("AddComboOption", "Products", new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "AjaxUpdate",
        OnSuccess = "$('#ordine').modal('hide');ChangeTableFill();"
    }, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="modal-dialog modal-block-md">
            <!-- Modal content-->
            <div class="modal-content ">
                <div class="modal-header modalheader">

                    <button type="button" class="close modalheader" data-dismiss="modal">×</button>

                    <h4 class="modal-title">
                        Add Items
                    </h4>



                </div>
                <div class="modal-body">
                    <div class="panel panel-bd lobidrag">

                        <div class="panel-body">




                            <div class="">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="row">
                                    @Html.TextBoxFor(model => model.ProductName, new { @style = "display:none;", @id = "productName" })


                                    <div class="col-md-8 col-md-offset-2 ">
                                        <div class="form-group">
                                            <label class="control-label">
                                                Product Name
                                            </label>
                                            @Html.DropDownListFor(a => a.ProductCode, Model.ProductDdl, "Select an Option", new { @id = "productCode", @required = "", @class = "form-control populate selectddl ", @autofocus = "autofocus", @style = "width:100%" })

                                        </div>
                                    </div>


                                    <div class="col-md-8 col-md-offset-2">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Qty, htmlAttributes: new { @class = "control-label required1" })
                                            @Html.EditorFor(model => model.Qty, new { htmlAttributes = new { @type = "number", @min = "1", @class = "form-control", @required = "true" } })
                                            @Html.ValidationMessageFor(model => model.Qty, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-8 col-md-offset-2">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label required1" })
                                            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @type = "number", @min = "0", @class = "form-control", @required = "true" } })
                                            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-md-offset-2">
                                        @Html.LabelFor(model => model.Modifiable, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.Modifiable, new {@class = "form-control"})
                                        @Html.ValidationMessageFor(model => model.Modifiable, "", new {@class = "text-danger"})
                                    </div>
                                </div>



                                </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default btn-lg btnPro">Save</button>
                    <button type="button" class="btn btn-default btn-lg btnPro1" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    }
</div>

@Html.Raw(ViewBag.com)
<script>
    $('#productCode').on("change", function () {
        /**/
        $('#productName').val($("#productCode option:selected").text());
        /**/

    })
</script>
<script>
    $("input").on("keypress", function (e) {
        if (e.which === 32 && !this.value.length)
            e.preventDefault();
    });
</script>
<script>
    $(document).ready(function () {
        
    });

</script>
    
<script>
    $(document).ready(function () {
        $('.selectddl').select2();
    });
</script>