@model POSApp.Core.ViewModels.ModifierViewModel

@{
    ViewBag.Title = "AddPurchaseOrder";
        int number= 1;
    
}
<style>
    .table > thead > tr > th {
        background-color: rgba(153, 153, 153, 0.4);
        padding: 16px 0;
    }
</style>


<!-- start: page -->
<div class="container-fluid">

    @using (Html.BeginForm())
    {
        <div class="row mt-lg">



            <div class="col-md-12">
                <div class="tabs  tabs-left">
                    <div class="row">
                        <div class="col-md-12 text-center  col-xs-12 mb-xlg">
                            <ul class="snip1189  ">


                                <li class="mt-xs  current" id="basicInfo">
                                    <a href="#basicdata" class="" data-toggle="tab" onclick="$('#basicInfo').addClass('current'); $('#tranInfo').removeClass('current');">

                                        Basic Data 
                                    </a>
                                </li>

                                <li id="tranInfo">
                                    <a href="#transactionitems" data-toggle="tab" id="modifierOption" onclick="$('#tranInfo').addClass('current'); $('#basicInfo').removeClass('current');">ModifierOptions </a>
                                </li>
                            </ul>
                            <hr />
                            <div class="row mt-md">
                                <div class="col-md-12">
                                    <h4 class=" wb-color  text-center">New Modifier</h4>
                                </div>
                            </div>
                        </div>
                        <div class="tab-content col-md-8 col-xs-12 col-md-offset-2  p-xlg">
                            <div class="row mb-xlg">
                                <div class="col-md-12">
                              

                                    <button type="submit" class="btn outline-success btn-sm" style="float:right;font-size:13px;margin-left: 7px;" onclick="return CheckData();"><span class="fa fa-save mr-md"></span> Save</button>
                                    <a href="@Url.Action("ModifierList","Products")" style="float:right">
                                        <button type="button" class="btn outline-danger btn-sm" id="#arrButtonIds"><i class="fa fa-list-ol pr-sm"></i>Modifier List</button>

                                    </a>
                                </div>
                            </div>
                            <div id="basicdata" class="tab-pane active">
                                <h4 class="mt-none mb-lg ">Basic Data</h4>
                                <div class="row">
                                    <div class="col-md-9 col-lg-offset-2">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2 required1" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control",@required="true", autofocus = "" } })
                                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Barcode, htmlAttributes: new { @class = "control-label col-md-2 required1" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Barcode, new { htmlAttributes = new { @class = "form-control", @required = "true" } })
                                                @Html.ValidationMessageFor(model => model.Barcode, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div id="transactionitems" class="tab-pane">
                                <div class=" mb-lg" id="header-flex">
                                    <h4 class="mt-xs  " style="flex-grow: 8">Modifier Options</h4>
                                    <a href="@Url.Action("AddModifierOption", "Products")" class="modalShow" style="flex-grow: 0">
                                        <button type="button" class="btn outline-success btn-sm"><i class="fa fa-plus pr-sm"></i>Add New</button>

                                    </a>
                                </div>
                                <div id="AjaxUpdate">
                                    <div class="row mb-lg">
                                        <div class="col-md-12">
                                            <table class="table mb-none" style="width:100%" id="datatable-default">
                                                <thead>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>Name</th>
                                                        <th>Cost</th>
                                                        <th>Price</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                @if (Model.ModifierOptionViewModels != null)
                                                {

                                                if (Model.ModifierOptionViewModels.Count > 0)
                                                {

                                                    foreach (var modelModifierOptionViewModel in Model.ModifierOptionViewModels)
                                                    {
                                                        <tr>
                                                            <td>@(number++)</td>
                                                            <td>@modelModifierOptionViewModel.Name</td>
                                                            <td>@modelModifierOptionViewModel.Cost</td>
                                                            <td>@modelModifierOptionViewModel.Price</td>
                                                            <td>
                                                                <a href="#" class="btn btn-default text-success btn-sm fa fa-edit  " onclick="ShowUpdate('@modelModifierOptionViewModel.Name.ToString()')" data-toggle="tooltip" title="Edit !"></a>
                                                                @Ajax.ActionLink(" ", "DeleteModifierOption", "Products", new {name = @modelModifierOptionViewModel.Name, storeId = @modelModifierOptionViewModel.StoreId}, new AjaxOptions
                                                                {
                                                                    HttpMethod = "GET",
                                                                    UpdateTargetId = "AjaxUpdate"
                                                                }, new
                                                                {
                                                                    @onclick = "return confirm('Are you sure?')",
                                                                    @class = "btn btn-danger btn-sm fa fa-trash-o",
                                                                    @style = "color: #ffffff;"
                                                                })
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td colspan="5" class="text-center">No records found</td>
                                                    </tr>
                                                }
                                                }

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="hidden">
                                    <h4 class="mb-lg ">Add items From Tag</h4>
                                    <div class="row mb-lg">
                                        <div class="col-md-9 col-lg-offset-2">
                                            <div class="form-group">
                                                <label class="control-label">
                                                    Select Tag
                                                </label>
                                                <input type="text" class="form-control unstyled" placeholder="" />
                                            </div>
                                        </div>
                                    </div>
                                    <h4 class="mb-lg ">Upload Items Via Excel</h4>
                                    <div class="row">
                                        <div class="col-md-9 col-lg-offset-2">
                                            <div class="form-group">
                                                <input type="file" class="" placeholder="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


<div id="ModalData"></div>
@section scripts
{
   
    <script>
        var tablefill = false;
        function CheckData() {
            var rowCount = $('#datatable-default >tbody >tr').length;
            if (tablefill && rowCount >= 1) {
               
                return true;
            }
            new PNotify({
                title: 'Modifier Options Cannot Be Empty',
                text:  'Please Enter Atleast 1 Modifier Option.',
                type: 'error'
            });
            $('#modifierOption').click();
            return false;
        }
        function ChangeTableFill() {
            tablefill = true;
        }

        function ShowUpdate(a) {
            $.blockUI({ css: { backgroundColor: '#fff', color: '#0aaa5a' } });

            $.ajax({
                url: "@Url.Action("UpdateModifierOption","Products")",
                data: {name:a},
                type: 'GET',
                cache: false,
                success: function (result) {
                    $('#ModalData').html(result).find('#ordine').modal('show');
                    $.unblockUI();

                }
            });

            return false;
           
        }

        $('#datatable-default').on('click','a.modalShow', function () {
            $.blockUI({ css: { backgroundColor: '#fff', color: '#0aaa5a' } });
            $.ajax({
                url: this.href,
                type: 'GET',
                success: function (result) {
                    $('#ModalData').html(result);
                    $('#ordine').modal('show');
                    $.unblockUI();
                   

                }
            });

            return false;
        });
        $('a.modalShow').on('click', function () {
            $.blockUI({ css: { backgroundColor: '#fff', color: '#0aaa5a' } }); 
            $.ajax({
                url: this.href,
                type: 'GET',
                success: function(result) {
                    $('#ModalData').html(result);
                    $('#ordine').modal('show');
                    $.unblockUI();
                }
            });

            return false;
        });
        $('#datatable-default').dataTable();
    </script>
    <script>
        $("input").on("keypress", function (e) {
            if (e.which === 32 && !this.value.length)
                e.preventDefault();
        });
    </script>
    @Html.Raw(ViewBag.js)
}










@*@model POSApp.Core.ViewModels.ModifierViewModel

@{
    ViewBag.Title = "AddModifier";
}

<h2>AddModifier</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Barcode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Barcode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Barcode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@
