@using POSApp.Core.Enums
@using POSApp.Core.Models
@model POSApp.Core.ViewModels.RecipeViewModel
@{
    Layout = null;
    AlertModel alertModel = (AlertModel)TempData["Alert"];
}

<div class="panel panel-bd lobidrag">

    <div class="panel-body">
        @if (alertModel != null)
        {
            @Html.Partial("~/Views/Shared/_AlertView.cshtml", alertModel)
        }
        @Html.HiddenFor(a => a.Id)
        @Html.HiddenFor(a => a.CreatedBy)
        @Html.HiddenFor(a => a.CreatedOn)
        @Html.HiddenFor(a => a.ProductCode)
        @Html.HiddenFor(a => a.StoreId)


        <div class="row">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="col-md-3">
                @Html.LabelFor(model => model.IngredientCode, htmlAttributes: new { @class = "control-label required1" })
                <div class="">
                    @Html.DropDownListFor(model => model.IngredientCode, Model.ProductDDl, "Select an Option", new { @class = "form-control", @required = "true" })
                    @Html.ValidationMessageFor(model => model.IngredientCode, "", new { @class = "text-danger" })

                </div>

            </div>

            <div class="col-md-2">
                @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Quantity" } })
                @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })

            </div>

            <div class="col-md-2">
                @Html.LabelFor(model => model.Calories, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Calories, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Calories" } })
                @Html.ValidationMessageFor(model => model.Calories, "", new { @class = "text-danger" })

            </div>
            <div class="col-md-2">
                @Html.LabelFor(model => model.ExpiryDate, htmlAttributes: new { @class = "control-label required1" })
                @Html.EditorFor(model => model.ExpiryDate, new { htmlAttributes = new { @class = "form-control unstyled", @required = true } })
                @Html.ValidationMessageFor(model => model.ExpiryDate, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-1 ">
                <div class="pull-right" style="    margin-top: 24px;">

                    <button type="submit" class="btn btn-default btn-sm btnPro"><span class="glyphicon glyphicon-plus"></span></button>
                </div>
            </div>


            <input type="hidden" id="expiry_date" value="@Model.ExpiryDate" />
        </div>
    </div>
</div>
<div class="table-responsive" id="renderData">
    <table class="table">
        <thead>
            <tr>
                <th>Ingredient</th>

                <th>Quantity</th>
                <th>Calories</th>
                <th>Expiry Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var data in Model.RecipeList)
            {
                <tr>
                    <td>@data.IngredientName</td>

                    <td>@data.Quantity</td>
                    <td>@data.Calories</td>
                    <td>@data.ExpiryDate.ToShortDateString()</td>

                    <td>
                        @Ajax.ActionLink(" ", "DeleteRecipe", "Products", new { id = data.Id, code = data.ProductCode }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "renderData" }, new { @class = "btn btn-default text-danger  btn-sm fa fa-trash", data_toggle = "tooltip", title = "Delete !", onclick = "return confirm('Are you sure?');" })
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
