@using POSApp.Core.Models
@model IEnumerable<POSApp.Core.ViewModels.ModifierListViewModel>

@{
    ViewBag.Title = "ModifierOptionList";
    AlertModel alertModel = (AlertModel)TempData["Alert"];
}
@if (alertModel != null)
{
    @Html.Partial("~/Views/Shared/_AlertView.cshtml", alertModel)
}


@*<header class="page-header">
        <h2>PurchaseOrders</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="@Url.Action("Index","Home")">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>PurchaseOrder</span></li>

            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>*@

<!-- start: page -->
<div class="row mt-md">
    <div class="col-md-12">
        <ul class="snip1189">
            <li><a href="@Url.Action("ProductsList","Products")">Products</a></li>
            <li><a class="hidden" href="@Url.Action("ServicesList", "Services")">Services</a></li>
            <li class="current"><a href="#">Modifiers</a></li>
            <li><a href="@Url.Action("CombosList","Products")">Combos</a></li>

        </ul>
        <hr />

    </div>
</div>
<section class="panel">

    <header class="panel-heading">
        <div class="row">
            <div class="col-md-12">


                <div class="" id="header-flex">
                    <h3 class="wb-color" style="flex-grow: 8"><b>Modifiers</b></h3>

                    <a href="@Url.Action("AddModifier","Products")" style="flex-grow: 0.2">
                        <button type="button" class="btn outline-success btn-sm"><i class="fa fa-plus pr-sm"></i>Add Modifier </button>

                    </a>


                </div>





            </div>
        </div>


        <h2 class="panel-title"></h2>
    </header>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table mb-none" style="width:100%" id="datatable-default">
                <thead>
                    <tr>
                        <th width="5%">ID</th>
                        <th width="15%">Name</th>
                        <th width="15%">Barcode</th>
                        <th width="15%">Modifer Options</th>
                        <th width="15%">Products Linked</th>

                        <th width="30%">Action</th>

                    </tr>
                </thead>
                <tbody>
                    @{ int i = 1;}
                    @foreach (var modifier in Model)
                    {
                    <tr>
                        <td>@(i++)</td>
                        <td>@modifier.Name</td>
                        <td>@modifier.Barcode</td>
                        <td>@modifier.ModifierOptions Options</td>
                        <td>@modifier.LinkedProducts Products</td>



                        <td class="center">
                            <div class="btn-group">

                                @Html.ActionLink(" ", "UpdateModifier", "Products", new { id = @modifier.Id, storeId = @modifier.StoreId }, new { @class = "btn btn-default text-success btn-sm fa fa-edit  ", data_toggle = "tooltip", title = "Edit !" })
                                @Html.ActionLink(" ", "DeleteModifier", "Products", new { id = @modifier.Id, storeId = @modifier.StoreId }, new { @class = "btn btn-default text-danger  btn-sm fa fa-trash", data_toggle = "tooltip", title = "Delete !", onclick = "return confirm('Are you sure?');" })
                                @Html.ActionLink(" ", "AddModifierLinkProduct", "Products", new { modifierId = @modifier.Id }, new { @class = "btn btn-default text-success  btn-sm fa fa-plus modalShow", data_toggle = "tooltip", title = "Link Modifier Products !" })

                            </div>
                        </td>

                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>





<div id="ModalData"></div>
@section scripts
{
    <script>
        $('#datatable-default').dataTable();

        $('a.modalShow').on('click', function () {
            $.blockUI({ css: { backgroundColor: '#fff', color: '#0aaa5a' } }); 
            $.ajax({
                url: this.href,
                type: 'GET',
                success: function(result) {
                    $('#ModalData').html(result);
                    $('#ordine').modal('show');
                    $.unblockUI();
                }
            });

            return false;
        });
    </script>
}




