@using System.ServiceModel.Channels
@model POSApp.Core.Models.Product
@{
    //Layout = null;
}
<div class="mt-md pull-right">

    <input type='button' id='btnP' class="btn outline-success btn-sm" value='Print' onclick='printDiv();'>
    <a href="@Url.Action("ProductsList", "Products")" style="flex-grow: 0">
        <button type="button" class="btn outline-danger btn-sm"><i class="fa fa-list-ol pr-sm"></i>Product List</button>

    </a>
</div>
<div class="container-fluid " id="DivIdToPrint">
    @if (!Model.InventoryItem)
    {
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h3 class="text-center"><strong>Product Details</strong></h3>
                <table class="table table-bordered">
                    <thead>
                    </thead>
                    <tbody>

                        <tr>
                            <th class="text-center">Product Name</th>
                            <td class="text-center" >@Model.Name</td>


                        </tr>
                        <tr>
                            <th class="text-center">Product code</th>
                            <td class="text-center">@Model.ProductCode</td>


                        </tr>
                        <tr>
                            <th class="text-center">Cost Price</th>
                            <td class="text-center">
                                @(Model.CostPrice)
                            </td>


                        </tr>
                        <tr>
                            <th class="text-center">Price</th>
                            <td class="text-center">@Model.UnitPrice</td>

                        </tr>
                    <tr>
                        <th class="text-center">Calories</th>
                        
                        <td class="text-center">
                            @(Model.Recipes.Select(a => a.Calories).Sum())

                           
                        </td>
                        
                        

                    </tr>




                    </tbody>

                </table>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <h3 class="text-center"><strong>Recipe</strong></h3>
                        <table class="table mb-none" style="width: 100%" id="datatable-default">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Ingredient</th>
                                    
                                    <th>Qty</th>
                                    <th>Calories</th>
                                    <th>Expiry Date</th>



                                </tr>
                            </thead>
                            <tbody>
                                @{ int i = 1;}
                                @foreach (var recipe in Model.Recipes)
                                {
                                    <tr>
                                        <td>@(i++)</td>
                                        <td>@recipe.Ingredient.Name</td>
                                        
                                        <td>@recipe.Quantity</td>
                                        <td>@recipe.Calories</td>
                                        <td>@recipe.ExpiryDate.ToShortDateString()</td>


                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h3 class="text-center"><strong>Product Details</strong></h3>
                <table class="table table-bordered">
                    <thead>


                    </thead>

                    <tbody>




                    <tr>
                        <th class="text-center">Product Name</th>
                        <td class="text-center">@Model.Name</td>


                    </tr>
                    <tr>
                        <th class="text-center">Product code</th>
                        <td class="text-center">@Model.ProductCode</td>


                    </tr>
                    <tr>
                        <th class="text-center">Cost Price</th>
                        <td class="text-center">@Model.CostPrice</td>


                    </tr>
                    <tr>
                        <th class="text-center">Price</th>
                        <td class="text-center">@Model.UnitPrice</td>

                    </tr>
                    




                    </tbody>

                </table>
            </div>
        </div>
    }

</div>







<script>
    function printDiv()
    {

        var divToPrint=document.getElementById('DivIdToPrint');

        var newWin=window.open('','Print-Window');

        newWin.document.open();


        newWin.document.write('<html>  <link href = "/../Content/bootstrap.min.css" rel = "stylesheet" /><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">' +
            '<style>table>thead>tr>th {text-align: center;} table>tbody>tr>td {text-align: center;} </style><body onload="window.print() " width="1024">' + divToPrint.innerHTML + '</body></html>');

        newWin.document.close();

        setTimeout(function(){newWin.close();},10);

    }
</script>
