@using POSApp.Core.Models
@model IEnumerable<POSApp.Core.Models.Product>
@{
    ViewBag.Title = "ProductsList";
    AlertModel alertModel = (AlertModel)TempData["Alert"];
}
@if (alertModel != null)
{
    @Html.Partial("~/Views/Shared/_AlertView.cshtml", alertModel)
}

<style>
    tbody > tr > td{
        vertical-align:middle !important;
    }
</style>
    @*<header class="page-header">
        <h2>Products</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="@Url.Action("Index","Home")">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Products</span></li>
                <li><span>Products</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>*@

    <!-- start: page -->

<div class="row mt-md" >
    <div class="col-md-12">
        <ul class="snip1189">
            <li class="current"><a href="#">Products</a></li>
            <li><a class="hidden" href="@Url.Action("ServicesList","Services")">Services</a></li>
            <li><a href="@Url.Action("ModifierList","Products")">Modifiers</a></li>
            <li><a href="@Url.Action("CombosList","Products")">Combos</a></li>
            
        </ul>
        <hr />
      
    </div>
</div>
    <section class="panel">
        <header class="panel-heading">
            <div class="row">
                <div class="col-md-12">
                    <div class="" id="header-flex">
                        <h3 class="wb-color" style="flex-grow: 8"><b>Products</b></h3>
                        @*<a href="@Url.Action("AddProduct", "Products")" class="modalShow">
            <span class="fa fa-2x fa-plus-circle"></span>
        </a>*@
                        <a href="@Url.Action("ProductExcelImport", "ExcelImport")" class="modalShow" style="flex-grow: 0.2">
                            <button type="button" class="btn outline-success btn-sm" id="#arrButtonIds"><i class="fa fa-plus pr-sm"></i>Import Data</button>

                        </a>

                        <a href="@Url.Action("AddProduct", "Products")" class="modalShow" style="flex-grow: 0.2">
                            <button type="button" class="btn outline-success btn-sm" id="#arrButtonIds"><i class="fa fa-plus pr-sm"></i>Add Product</button>

                        </a>
                        <a href="@Url.Action("ProductCategoryGroupList","Products")" style="flex-grow: 0.2">
                            <button type="button" class="btn outline-danger btn-sm" id="#arrButtonIds"><i class="fa fa-list-ol pr-sm"></i>Product Category Group List</button>

                        </a>
                        <a href="@Url.Action("ProductCategoryList","Products")" style="flex-grow: 0">
                            <button type="button" class="btn outline-danger btn-sm" id="#arrButtonIds"><i class="fa fa-list-ol pr-sm"></i>Category List</button>

                        </a>
                    </div>
                </div>
            </div>

            <h2 class="panel-title"></h2>
        </header>
        <div class="panel-body">

            <div class="table-responsive">
                <table class="table mb-none" style="width:100%" id="datatable-default">
                    <thead>
                        <tr>
                            <th width="10%">ID</th>
                            <th width="20%">Name</th>
                            <th width="20%">Attribute</th>
                            <th width="10%">Size</th>
                            <th width="10%">Price</th>
                            <th width="20%">Image</th>
                            <th width="10%">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int i = 1;}
                        @foreach (var product in Model)
                        {
                            <tr class="">
                                <td>@(i++)</td>
                                <td>
                                    @product.Name
                                </td>
                                <td>
                                    @product.Attribute
                                </td>
                                <td>
                                    @product.Size
                                </td>
                                <td>@product.UnitPrice</td>
                                <td width="6%" class="p-none">
                                    @if(product.Image != null) {  
                                        var base64 = Convert.ToBase64String(product.Image);  
                                        var imgsrc = string.Format("data:image/jpg;base64,{0}", base64); 
                                        <img src = '@imgsrc'  width="69px" height="58px" /> 
                                    }  
                                    
                                </td>
                                <td class="center">
                                    <div class="btn-group">

                                    @Html.ActionLink(" ", "UpdateProduct", "Products", new { productId = @product.ProductCode, storeId = @product.StoreId }, new { @class = "btn btn-default text-success btn-sm fa fa-edit modalShow ", data_toggle = "tooltip", title = "Edit !" })
                                    @Html.ActionLink(" ", "DeleteProduct", "Products", new { id = @product.ProductCode, storeId = @product.StoreId }, new { @class = "btn btn-default text-danger  btn-sm fa fa-trash", data_toggle = "tooltip", title = "Delete !", onclick = "return confirm('Are you sure?');" })
                                    </div>
                                </td>
                            </tr>
                        }


                    </tbody>
                </table>
                </div>
            </div>
</section>




<div id="ModalData"></div>
@section scripts
{
    <script>
        $('#datatable-default').dataTable();

        $('a.modalShow').on('click', function () {
            $.blockUI({ css: { backgroundColor: '#fff', color: '#0aaa5a' } }); 

            $.ajax({
                url: this.href,
                type: 'GET',
                cache: false,
                success: function (result) {
                    $('#ModalData').html(result).find('#ordine').modal('show');
                    $.unblockUI();

                }
            });

            return false;
        });
        // Using that prm reference, hook _initializeRequest
        Sys.WebForms.PageRequestManager.getInstance().add_initializeRequest(InitializeRequestBuchung);

        // Abfangen von Mehrfachklicks auf Buttons für asynchrone Postbacks im Updatepanel
        function InitializeRequestBuchung(sender, args) {
            var arrButtonIds = ["ButtonInsert", "ButtonUpdate"];

            // Get a reference to the PageRequestManager.
            var prm = Sys.WebForms.PageRequestManager.getInstance();
            if (prm.get_isInAsyncPostBack() & jQuery.inArray(args.get_postBackElement().id, arrButtonIds) > -1) {
                args.set_cancel(true);
            }
        }
    </script>
}

