@using POSApp.Core.Models
@model IEnumerable<POSApp.Core.Models.ProductCategory>
@{
    ViewBag.Title = "ProductCategoryList";
    AlertModel alertModel = (AlertModel)TempData["Alert"];
}
@if (alertModel != null)
{
    @Html.Partial("~/Views/Shared/_AlertView.cshtml", alertModel)
}


<!-- start: page -->
<div class="row mt-md">
    <div class="col-md-12">
        <ul class="snip1189">
            <li><a href="@Url.Action("ProductsList","Products")">@POSApp.Resources.Resource.Products</a></li>
            <li><a href="@Url.Action("ModifierList","Products")">@POSApp.Resources.Resource.Modifiers</a></li>
            <li><a href="@Url.Action("CombosList","Products")">@POSApp.Resources.Resource.Combos</a></li>
            <li class="current"><a href="#">@POSApp.Resources.Resource.PRODUCTCATEGORIES</a></li>
            <li><a href="@Url.Action("ProductCategoryGroupList", "Products")">@POSApp.Resources.Resource.PRODUCTCATEGORIESGROUP</a></li>
        </ul>
        <hr />

    </div>
</div>
<section class="panel">
    <header class="panel-heading">
        <div class="row">
            <div class="col-md-12">

                <div class="" id="header-flex">
                    <h3 class="wb-color" style="flex-grow: 8"><b>@POSApp.Resources.Resource.PRODUCTCATEGORIES</b></h3>

                    <a href="@Url.Action("ProductCategoryExcelImport", "ExcelImport")" class="modalShow" style="flex-grow: 0.2">
                        <button type="button" class="btn outline-success btn-sm"><i class="fa fa-plus pr-sm"></i>@POSApp.Resources.Resource.ImportData</button>

                    </a>
                    <a href="@Url.Action("AddProductCategory", "Products")" class="modalShow" style="flex-grow: 0.2">
                        <button type="button" class="btn outline-success btn-sm"><i class="fa fa-plus pr-sm"></i>Add Product Category</button>

                    </a>
                    <a href="@Url.Action("ProductCategoryGroupList", "Products")" style="flex-grow: 0.2">
                        <button type="button" class="btn outline-danger btn-sm"><i class="fa fa-list-ol pr-sm"></i>@POSApp.Resources.Resource.productcategorygrouplist</button>

                    </a>
                    <a href="@Url.Action("ProductsList","Products")" style="flex-grow: 0">
                        <button type="button" class="btn outline-danger btn-sm"><i class="fa fa-list-ol pr-sm"></i>@POSApp.Resources.Resource.ProductList</button>

                    </a>
                </div>
            </div>
        </div>

        <h2 class="panel-title"></h2>
    </header>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table mb-none" style="width:100%" id="datatable-default">
                <thead>
                    <tr>
                        <th width="5%">@POSApp.Resources.Resource.ID</th>
                        <th width="30%">@POSApp.Resources.Resource.name</th>
                        <th width="30%">@POSApp.Resources.Resource.Image</th>
                        <th width="25%">@POSApp.Resources.Resource.Group</th>
                        <th width="10%">@POSApp.Resources.Resource.Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{ int i = 1;}
                    @foreach (var productCategory in Model)
                    {
                        <tr>
                            <td>@(i++)</td>
                            <td>@productCategory.Name</td>
                            <td>
                                @if (productCategory.Image != null)
                                {
                                    var base64 = Convert.ToBase64String(productCategory.Image);
                                    var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                                    <img src='@imgsrc' style="width:50px;height:50px" />
                                }
                            </td>
                            <td>@productCategory.Type</td>
                            <td class="text-center">
                                <div class="btn-group">

                                    @Html.ActionLink(" ", "UpdateProductCategory", "Products", new { id = productCategory.Id, storeId = @productCategory.StoreId }, new { @class = "btn btn-default btn-sm fa fa-pencil modalShow", })
                                    @Html.ActionLink(" ", "DeleteProductCategory", "Products", new { id = productCategory.Id, storeId = @productCategory.StoreId }, new { @class = "btn btn-default text-danger  btn-sm fa fa-trash", data_toggle = "tooltip", title = @POSApp.Resources.Resource.Delete, onclick = "return confirm('Are you sure?');" })
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>





<div id="ModalData"></div>
@section scripts
{
    <script>
        $('#datatable-default').dataTable();
        $('#datatable-default').on('click','a.modalShow', function () {
            $.blockUI({ css: { backgroundColor: '#fff', color: '#0aaa5a' } });
            $.ajax({
                url: this.href,
                type: 'GET',
                success: function (result) {
                    $('#ModalData').html(result);
                    $('#ordine').modal('show');
                    $.unblockUI();
                }
            });

            return false;
        });
        $('a.modalShow').on('click', function () {
            $.blockUI({ css: { backgroundColor: '#fff', color: '#0aaa5a' } }); 
            $.ajax({
                url: this.href,
                type: 'GET',
                success: function(result) {
                    $('#ModalData').html(result);
                    $('#ordine').modal('show');
                    $.unblockUI();
                }
            });

            return false;
        });
        function CreateAssetSuccess(data) {
            if (data !== '') {
                $('#ordine').modal('hide');
                $('#ModalData').html(data);
                $('#ordine').modal('show');

                return;
            }
            location.reload();
        }
    </script>
}


