@model IEnumerable<POSApp.Core.Models.ProductCategory>

@{
    ViewBag.Title = "ServiceCategoryList";
}

    @*<header class="page-header">
        <h2>ServiceCategories</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="@Url.Action("Index","Home")">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>ServiceCategories</span></li>
                <li><span>Setup</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>*@

    <!-- start: page -->
<div class="row mt-md">
    <div class="col-md-12">
        <ul class="snip1189">
            <li class=""><a href="@Url.Action("ProductsList","Products")">Products</a></li>
            <li class="current"><a href="">Services</a></li>
        </ul>
        <hr />

    </div>
</div>
    <section class="panel">
        <header class="panel-heading">
            <div class="row">
                <div class="col-md-12">
        
                    <div class="" id="header-flex">
                        <h3 class="wb-color" style="flex-grow: 8"><b>Service Categories </b></h3>

                        <a href="@Url.Action("AddServiceCategory", "Services")" class="modalShow" style="flex-grow: 0.2">
                            <button type="button" class="btn outline-success btn-sm"><i class="fa fa-plus pr-sm"></i>Add Category</button>

                        </a>
                        <a href="@Url.Action("ServicesList","Services")" style="flex-grow: 0">
                            <button type="button" class="btn outline-danger btn-sm"><i class="fa fa-list-ol pr-sm"></i>Service List</button>

                        </a>
                    </div>
                </div>
            </div>

        </header>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table mb-none" style="width:100%" id="datatable-default">
                    <thead>
                        <tr>
                            <th width="5%">ID</th>
                            <th width="30%">Name</th>
                            <th width="30%">Images</th>
                            <th width="25%">Type</th>
                            <th width="10%">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int i = 1;}
                        @foreach (var productCategory in Model)
                        {
                            <tr>
                                <td>@(i++)</td>
                                <td>@productCategory.Name</td>
                                <td><img src="@productCategory.Image" width="50" height="50" /></td>
                                <td>@productCategory.Type</td>
                                <td class="text-center">
                                    <div class="btn-group">

                                    @Html.ActionLink(" ", "UpdateServiceCategory", "Services", new { id = productCategory.Id, storeId = @productCategory.StoreId }, new { @class = "btn btn-default text-success btn-sm fa fa-edit modalShow ", data_toggle = "tooltip", title = "Edit !" })
                                    @Html.ActionLink(" ", "DeleteServiceCategory", "Services", new { id = productCategory.Id, storeId = @productCategory.StoreId }, new { @class = "btn btn-default text-danger  btn-sm fa fa-trash", data_toggle = "tooltip", title = "Delete !", onclick = "return confirm('Are you sure?');" })
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                </div>
            </div>
</section>

<div id="ModalData"></div>
@section scripts
{
    <script>
        $('#datatable-default').dataTable();
        $('a.modalShow').on('click', function () {
            $.blockUI({ css: { backgroundColor: '#fff', color: '#0aaa5a' } }); 
            $.ajax({
                url: this.href,
                type: 'GET',
                success: function(result) {
                    $('#ModalData').html(result);
                    $('#ordine').modal('show');
                    $.unblockUI();
                }
            });

            return false;
        });
    </script>
}


