
@using POSApp.Core.Models
@model IEnumerable<POSApp.Core.Models.Device>

@{
    ViewBag.Title = "DeviceList";
    AlertModel alertModel = (AlertModel)TempData["Alert"];
}
@if (alertModel != null)
{
    @Html.Partial("~/Views/Shared/_AlertView.cshtml", alertModel)
}
@*<header class="page-header">
        <h2>States</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="@Url.Action("Index","Home")">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>State</span></li>
                <li><span>Setup</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>*@

<!-- start: page -->
@*<div class="row mt-md">
        <div class="col-md-12">
            <ul class="snip1189">





            </ul>


        </div>
    </div>*@
<section class="panel">
    <header class="panel-heading">
        <div class="row">
            <div class="col-md-12">

                <div class="" id="header-flex">
                    <h3 class="wb-color" style="flex-grow: 8"><b>Devices</b></h3>



                    <a href="@Url.Action("AddDevice", "Device")" class="modalShow" style="flex-grow: 0.2">
                        <button type="button" class="btn outline-success btn-sm"><i class="fa fa-plus pr-sm"></i>Add Device</button>

                    </a>
                    <a href="@Url.Action("DeviceExcelImport", "ExcelImport")" class="modalShow" style="flex-grow: 0">
                        <button type="button" class="btn outline-danger btn-sm"><i class="fa fa-plus pr-sm"></i>Import Data</button>

                    </a>

                </div>





            </div>
        </div>

        <h2 class="panel-title"></h2>
    </header>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table mb-none" style="width:100%" id="datatable-default">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>License</th>
                        <th>Device Code</th>
                        <th>AppVersion</th>
                        <th>Downloaded Date</th>
                        <th>Address</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{ int i = 1;}
                    @foreach (var device in Model)
                    {
                        <tr>
                            <td>@(i++)</td>
                            <td>@device.Name</td>
                            <td>@device.License</td>
                            <td>@device.DeviceCode</td>
                            <td>@device.AppVersion</td>
                            <td>@device.DownloadedDate</td>
                            <td>@device.Address</td>
                            <td class="center">
                                <div class="btn-group">

                                    @Html.ActionLink(" ", "UpdateDevice", "Device", new { id = @device.Id }, new { @class = "btn btn-default text-success btn-sm fa fa-edit modalShow ", data_toggle = "tooltip", title = "Edit !" })
                                    @Html.ActionLink(" ", "DeleteDevice", "Device", new { id = @device.Id }, new { @class = "btn btn-default text-danger  btn-sm fa fa-trash", data_toggle = "tooltip", title = "Delete !", onclick = "return confirm('Are you sure?');" })
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>






<div id="ModalData"></div>
@section scripts
{
    <script>
        $('#datatable-default').dataTable();

        $('a.modalShow').on('click', function () {

            $.ajax({
                url: this.href,
                type: 'GET',
                cache: false,
                success: function (result) {
                    $('#ModalData').html(result).find('#ordine').modal('show');
                }
            });

            return false;
        });
    </script>
}


