@using POSApp.Core.Models
@model IEnumerable<POSApp.Core.ViewModels.UserViewModel>
@{
    ViewBag.Title = "UserList";
    AlertModel alertModel = (AlertModel)TempData["Alert"];
}
@if (alertModel != null)
{
    @Html.Partial("~/Views/Shared/_AlertView.cshtml", alertModel)
}

<!-- start: page -->
<div class="row mt-md">
    <div class="col-md-12">
        <ul class="snip1189">
            <li class="current"><a href="@Url.Action("UserList", "User")">Users</a></li>
            <li class=""><a href="@Url.Action("RolesList", "Setup")">Roles</a></li>
            <li class=""><a href="@Url.Action("SecurityObjectList", "User")">SecurityObjects</a></li>
        </ul>
        <hr />
    </div>
</div>
<section class="panel">
    <header class="panel-heading">
        <div class="row">
            <div class="col-md-12">
                <div class="" id="header-flex">
                    <h3 class="wb-color" style="flex-grow: 8"><b>Users </b></h3>
                    <a href="@Url.Action("Register","Account")">
                        <button type="button" class="btn outline-success btn-sm"><i class="fa fa-plus pr-sm"></i>Add New </button>
                    </a>
                </div>
            </div>
        </div>
        <h2 class="panel-title"></h2>
    </header>
    <div class="panel-body">
        <div class="table-responsive">

            <table class="table mb-none" style="width:100%" id="datatable-default">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{ int i = 1;}
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>@(i++)</td>
                            <td>@user.Name</td>
                            <td>@user.Name</td>
                            <td class="center">
                                <div class="btn-group">
                                    @Html.ActionLink(" ", "UpdateUser", "User", new { id = @user.Id }, new { @class = "btn btn-default text-success btn-sm fa fa-edit modalShow  ", data_toggle = "tooltip", title = "Edit !" })
                                    @Html.ActionLink(" ", "DeleteUser", "User", new { id = @user.Id }, new { @class = "btn btn-default text-danger  btn-sm fa fa-trash", data_toggle = "tooltip", title = "Delete !", onclick = "return confirm('Are you sure?');" })
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>





<div id="ModalData"></div>
<div id="ModalData1"></div>
@section scripts
{
    <script>
        $('#datatable-default').dataTable();

        $('#datatable-default').on('click','a.modalShow', function () {
            $.blockUI({ css: { backgroundColor: '#fff', color: '#0aaa5a' } });
            $.ajax({
                url: this.href,
                type: 'GET',
                success: function (result) {
                    $('#ModalData').html(result);
                    $('#ordine').modal('show');
                    $.unblockUI();
                }
            });

            return false;
        });
        $('a.modalShow').on('click', function () {
            $.blockUI({ css: { backgroundColor: '#fff', color: '#0aaa5a' } }); 
            $.ajax({
                url: this.href,
                type: 'GET',
                success: function(result) {
                    $('#ModalData').html(result);
                    $('#ordine').modal('show');
                    $.unblockUI();
                }
            });

            return false;
        });
        $('#datatable-default').on('click','a.modalShow1', function () {
            $.blockUI({ css: { backgroundColor: '#fff', color: '#0aaa5a' } });
            $.ajax({
                url: this.href,
                type: 'GET',
                success: function (result) {
                    $('#ModalData1').html(result);
                    $('#ordine1').modal('show');
                    $.unblockUI();
                }
            });

            return false;
        });
        $('a.modalShow1').on('click', function () {
            $.blockUI({ css: { backgroundColor: '#fff', color: '#0aaa5a' } }); 
            $.ajax({
                url: this.href,
                type: 'GET',
                success: function(result) {
                    $('#ModalData1').html(result);
                    $('#ordine1l').modal('show');
                    $.unblockUI();
                }
            });

            return false;
        });
    </script>
}


