@using POSApp.SecurityFilters
@using POSApp.Services
<!DOCTYPE html>


<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cosmic PoS</title>
    <!-- Web Fonts  -->

    <link href="~/Content/fontStyle.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
    @{
       
        if (Global.GetLang().Contains("Ar"))
        {
            <link rel="stylesheet"
                  href="~/Content/vendor/bootstrap/css/bootstrap.css">
            
            <link rel="stylesheet"
                  href="https://cdn.rtlcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
                  integrity="sha384-cSfiDrYfMj9eYCidq//oGXEkMc0vuTxHXizrMOFAaPsLt1zoCUVnSsURN+nef1lj"
                  crossorigin="anonymous">
            <style>
                html {
                    direction: rtl;
                }



                .picked-time-wrapper .picked-time {
                    background-position: 3% !important;
                }

                .header-right {
                    float: left !important;
                }

                .logo-container {
                    float: right !important;
                }


                .header .toggle-sidebar-left {
                    right: unset !important;
                    left: 15px !important;
                }

                ul.nav-main li i {
                    font-size: 1.8rem !important;
                    width: 1.1em !important;
                    margin-right: 0.0em !important;
                    margin-left: 0.5em !important;
                    text-align: center !important;
                    vertical-align: middle !important;
                }

                .sidebar-left .sidebar-header .sidebar-toggle {
                    left: 0 !important;
                    right: unset !important;
                }
                .dataTables_filter {
                    float: left !important;
                }
                .dataTables_length {
                    float: right;
                }
                .navbar-right {
                    margin-left: 10px !important;
                }
               
               
                .togl {
                    float: left !important;
                    margin-left: 15px;
                }
               
                .tgl {
                    right: unset !important;
                    left: 0 !important;
                }

               
                .cos {
                    margin-right: auto;
                }
                
            </style>
        }
        else
        {
            
            <link rel="stylesheet"
            href="~/Content/vendor/bootstrap/css/bootstrap.css">
           
        }
    }
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/datatables")
    @Scripts.Render("~/bundles/modernizr")




</head>

<body>

    <section class="body">

        <!-- start: header -->
    <header class="header">
       
                <div class="logo-container">
                    <a href="@Url.Action("Index", "Home")" class="logo">
                        <img src="~/Content/images/cosmic.png" alt="Cosmic Admin" style="max-width: 150px; max-height: 50px;"/>
                        <h5 style="display: inline-block; display: inline-block; -webkit-background-clip: text !important; font-weight: bold; font-style: italic; background: -webkit-linear-gradient(#5fb1be 0%, #98dfe4 100%); -webkit-text-fill-color: transparent;"></h5>
                    </a>
                    <div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
                        <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                    </div>
                </div>
         
        

        <!-- start: search & user box -->
        @{

            if (Request.IsAuthenticated)
            {
                <div class="header-right">

                    <form action="pages-search-results.html" class="search nav-form">
                       
                    </form>




                    <span class="separator"></span>

                    @Html.Partial("_LoginPartial")
                </div>
            }
            else
            {
            }
        }
        <!-- end: search & user box -->
    </header>
        <!-- end: header -->

        <div class="inner-wrapper">
            <!-- start: sidebar -->
            @{
                if (Request.IsAuthenticated)
                {
                    <aside id="sidebar-left" class="sidebar-left">

                        <div class="sidebar-header">
                            <div class="sidebar-title">
                                <span class="fa fa-cloud cos" style=" margin-left: 15px"> @POSApp.Resources.Resource.POSCloud</span>
                            </div>
                            <div class="sidebar-toggle tgl hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
                                <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                            </div>
                        </div>

                        <div class="nano">
                            <div class="nano-content">
                                <nav id="menu" class="nav-main" role="navigation">
                                    <ul class="nav nav-main ">
                                        <li>
                                            <a href="@Url.Action("Index","Home")">
                                                <i class="fa fa-home" aria-hidden="true"></i>
                                                <span> @POSApp.Resources.Resource.Dashboard </span>
                                            </a>
                                        </li>
                                        @if (Config.PointOfSale.PointOfSale.CheckAccess())
                                        {

                                            <li>
                                                <a href="@Url.Action("Index","PointOfSale")">
                                                    <i class="fa fa-desktop " aria-hidden="true"></i>

                                                    <span>@POSApp.Resources.Resource.PointOfSale</span>

                                                </a>

                                            </li>
                                        }

                                        @if (Config.SaleOrders.DailySales.CheckAccess())
                                        {
                                            <li>
                                                <a href="@Url.Action("SaleOrderList","SaleOrders")">
                                                    <i class="fa fa-calculator " aria-hidden="true"></i>

                                                    <span>@POSApp.Resources.Resource.SalesOrder</span>

                                                </a>

                                            </li>
                                        }
                                        @if (Config.PurchaseOrders.PurchaseOrder.CheckAccess())
                                        {

                                            <li>
                                                <a href="@Url.Action("PurchaseOrderList","PurchaseOrders")">
                                                    <i class="fa fa-shopping-cart " aria-hidden="true"></i>
                                                    <span>@POSApp.Resources.Resource.purchaseorders</span>
                                                </a>

                                            </li>
                                        }
                                        @if (Config.StockTaking.StockTaking.CheckAccess())
                                        {
                                            <li>
                                                <a href="@Url.Action("StockTakingList","StockTaking")">
                                                    <i class="fa fa-tasks " aria-hidden="true"></i>
                                                    <span>@POSApp.Resources.Resource.Transactions</span>
                                                </a>

                                            </li>
                                        }

                                        @if (Config.Expense.Expense.CheckAccess())
                                        {

                                            <li>
                                                <a href="@Url.Action("ExpenseList","Expense")">
                                                    <i class="fa fa-dollar" aria-hidden="true"></i>
                                                    <span>@POSApp.Resources.Resource.Expenses</span>
                                                </a>

                                            </li>

                                        }

                                        @if (Config.Products.Products.CheckAccess())
                                        {

                                            <li>
                                                <a href="@Url.Action("ProductsList","Products")">
                                                    <i class="fa fa-archive" aria-hidden="true"></i>
                                                    <span>@POSApp.Resources.Resource.ProductsandServices</span>
                                                </a>

                                            </li>
                                        }
                                        @if (Config.Setup.Customer.CheckAccess())
                                        {
                                            <li>
                                                <a href="@Url.Action("CustomerList","Setup")">
                                                    <i class="fa fa-cubes" aria-hidden="true"></i>
                                                    <span>Store Management</span>
                                                </a>

                                            </li>
                                        }
                                        @if (Config.Products.InventoryItems.CheckAccess())
                                        {
                                            <li>
                                                <a href="@Url.Action("InventoryItemsList","Products")">
                                                    <i class="fa fa-database" aria-hidden="true"></i>
                                                    <span>@POSApp.Resources.Resource.Inventory</span>
                                                </a>

                                            </li>

                                        }

                                        @{
                                            if (Request.IsAuthenticated)
                                            {


                                                <li class=" ">
                                                    <a href="@Url.Action("UserList","User")">
                                                        <i class="fa fa-user-secret" aria-hidden="true"></i>
                                                        <span>@POSApp.Resources.Resource.UserManagement</span>
                                                    </a>

                                                </li>


                                                if (Config.Reports.SalesReport.CheckAccess())
                                                {
                                                    <li>
                                                        <a href="@Url.Action("SaleReport","Reports")">
                                                            <i class="fa fa-indent" aria-hidden="true"></i>
                                                            <span>@POSApp.Resources.Resource.Reports</span>
                                                        </a>

                                                    </li>
                                                }
                                                <li class="hidden">
                                                    <a href="@Url.Action("BusinessSetting","Setting")">
                                                        <i class="fa fa-gears" aria-hidden="true"></i>
                                                        <span>Business Setting</span>
                                                    </a>

                                                </li>
                                        
                                                <li class=" ">
                                                    <a href="@Url.Action("AllStores","Home")">
                                                        <i class="fa fa-exchange" aria-hidden="true"></i>
                                                        <span>Switch Store</span>
                                                    </a>

                                                </li>
                                            }
                                        }
                                    </ul>

                                </nav>




                                <hr class="separator" />


                            </div>

                            <script>
                                // Preserve Scroll Position
                                if (typeof localStorage !== 'undefined') {
                                    if (localStorage.getItem('sidebar-left-position') !== null) {
                                        var initialPosition = localStorage.getItem('sidebar-left-position'),
                                            sidebarLeft = document.querySelector('#sidebar-left .nano-content');

                                        sidebarLeft.scrollTop = initialPosition;
                                    }
                                }
                            </script>

                        </div>

                    </aside>

                }
            }
            <!-- end: sidebar -->



            <section role="main" class="content-body">

                @RenderBody()
                <br />
                <footer>

                    <p class="text-center copyright">&copy; @DateTime.Now.Year - Cosmic PoS Admin Panel</p>
                </footer>
            </section>
        </div>
    </section>
    @Scripts.Render("~/bundles/Scripts")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/vendor")
    @Scripts.Render("~/bundles/datatables")

    @RenderSection("scripts", required: false)
    @section scripts
      {
        <script>

            $(document).on('submit', 'form', function () {
                var buttons = $(this).find('[type="submit"]');
                if ($(this).valid()) {
                    buttons.each(function (btn) {
                        $(buttons[btn]).prop('disabled', true);
                    });
                } else {
                    buttons.each(function (btn) {
                        $(buttons[btn]).prop('disabled', false);
                    });
                }

            });

        </script>

    }

    <script>
       
        $('html').bind('keypress', function (e) {
            if (e.keyCode === 13) {
                return false;
            }
        });
        $("input").on("keypress", function (e) {
            if (e.which === 32 && !this.value.length) {
                e.preventDefault();
            }
        });
      
        var currentPath = window.location.pathname;
        $(".nav li a[href='" + currentPath + "']").parent().addClass("nav-active");
    </script>
<script>
    var url = '@Url.Action("ChangeLanguage", "Home")';
    $('.setculture').click(function (e) {
        e.preventDefault();
        $.get(this.href, function(data) {
            if (data) {
                location.reload();
            } else {
                alert('Change Language Failed');
            }
        });
        
    });
</script>

</body>
</html>
