<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cosmic PoS</title>
    <!-- Web Fonts  -->

    <link href="~/Content/fontStyle.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/datatables")


</head>

<body>

    <section class="body">

        <!-- start: header -->
        <header class="header">
            <div class="logo-container">
                <a href="@Url.Action("Index","Home")" class="logo">
                    <img src="~/Content/images/cosmic.png" alt="Cosmic Admin" style="max-width: 150px;max-height: 50px;" />
                    <h5 style="display: inline-block; display: inline-block; -webkit-background-clip: text !important; font-weight: bold; font-style: italic; background: -webkit-linear-gradient(#5fb1be 0%, #98dfe4 100%); -webkit-text-fill-color: transparent;"></h5>
                </a>
                <div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
                    <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                </div>
            </div>

            <!-- start: search & user box -->
            @{
                if (Request.IsAuthenticated)
                {
                    <div class="header-right">

                        <form action="pages-search-results.html" class="search nav-form">
                            @*<div class="input-group input-search">
                                    <input type="text" class="form-control" name="q" id="q" placeholder="Search...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                                    </span>
                                </div>*@
                        </form>




                        <span class="separator"></span>

                        @Html.Partial("_LoginPartial")
                    </div>
                }
                else
                {
                }
            }
            <!-- end: search & user box -->
        </header>
        <!-- end: header -->

        <div class="inner-wrapper">
            <!-- start: sidebar -->
            @{
                if (Request.IsAuthenticated)
                {
                    <aside id="sidebar-left" class="sidebar-left">

                        <div class="sidebar-header">
                            <div class="sidebar-title">
                                <span class="fa fa-cloud" style=" margin-left: 15px"> POS Cloud</span>
                            </div>
                            <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
                                <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                            </div>
                        </div>

                        <div class="nano">
                            <div class="nano-content">
                                <nav id="menu" class="nav-main" role="navigation">
                                    <ul class="nav nav-main">
                                        <li class="nav-active">
                                            <a href="@Url.Action("Index","Home")">
                                                <i class="fa fa-home" aria-hidden="true"></i>
                                                <span>Dashboard</span>
                                            </a>
                                        </li>


                                        <li>
                                            <a href="@Url.Action("SaleOrderList","SaleOrders")">
                                                <i class="fa fa-calculator " aria-hidden="true"></i>

                                                <span>Sales Order</span>

                                            </a>

                                        </li>
                                        <li>
                                            <a href="@Url.Action("PurchaseOrderList","PurchaseOrders")">
                                                <i class="fa fa-shopping-cart " aria-hidden="true"></i>
                                                <span>Purchase Orders</span>
                                            </a>

                                        </li>
                                        <li>
                                            <a href="@Url.Action("OtherInList","PurchaseOrders")">
                                                <i class="fa fa-tasks " aria-hidden="true"></i>
                                                <span>Transactions</span>
                                            </a>

                                        </li>
                                        <li>
                                            <a href="@Url.Action("ExpenseList","Expense")">
                                                <i class="fa fa-dollar" aria-hidden="true"></i>
                                                <span>Expenses</span>
                                            </a>

                                        </li>
                                        <li>
                                            <a href="@Url.Action("StoresList","Store")">
                                                <i class="fa fa-list-alt" aria-hidden="true"></i>
                                                <span>Branches</span>
                                            </a>

                                        </li>

                                        <li>
                                            <a href="@Url.Action("ProductsList","Products")">
                                                <i class="fa fa-archive" aria-hidden="true"></i>
                                                <span>Products/Services</span>
                                            </a>

                                        </li>
                                        <li>
                                            <a href="@Url.Action("DeviceList","Device")">
                                                <i class="fa fa-laptop " aria-hidden="true"></i>

                                                <span>Devices</span>

                                            </a>

                                        </li>
                                        <li>
                                            <a href="@Url.Action("CustomerList","Setup")">
                                                <i class="fa fa-cubes" aria-hidden="true"></i>
                                                <span>Setup</span>
                                            </a>

                                        </li>
                                        <li>
                                            <a href="@Url.Action("InventoryItemsList","Products")">
                                                <i class="fa fa-database" aria-hidden="true"></i>
                                                <span>Inventory</span>
                                            </a>

                                        </li>



                                        @{
                                            if (Request.IsAuthenticated)
                                            {


                                                <li class=" ">
                                                    <a href="@Url.Action("UserList","User")">
                                                        <i class="fa fa-user-secret" aria-hidden="true"></i>
                                                        <span>User Management</span>
                                                    </a>
                                                    @*<ul class="nav nav-children ">
                        <li>
                            <a href="~/user/create">
                                Add New User
                            </a>
                        </li>

                        <li>
                            <a href="~/user">
                                Edit a User
                            </a>
                        </li>
                        <li>
                            <a href="~/user">
                                Users Listing
                            </a>
                        </li>
                        <li>
                            <a href="~/user">
                                Change Password
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Users Settings
                            </a>
                        </li>


                    </ul>*@
                                                </li>

                                                <li>
                                                    <a href="@Url.Action("SaleReport","Reports")">
                                                        <i class="fa fa-indent" aria-hidden="true"></i>
                                                        <span>Reports</span>
                                                    </a>

                                                </li>
                                                <li class="hidden">
                                                    <a href="@Url.Action("BusinessSetting","Setting")">
                                                        <i class="fa fa-gears" aria-hidden="true"></i>
                                                        <span>Business Setting</span>
                                                    </a>

                                                </li>
                                            }
                                        }
                                    </ul>

                                </nav>




                                <hr class="separator" />


                            </div>

                            <script>
                                // Preserve Scroll Position
                                if (typeof localStorage !== 'undefined') {
                                    if (localStorage.getItem('sidebar-left-position') !== null) {
                                        var initialPosition = localStorage.getItem('sidebar-left-position'),
                                            sidebarLeft = document.querySelector('#sidebar-left .nano-content');

                                        sidebarLeft.scrollTop = initialPosition;
                                    }
                                }
                            </script>

                        </div>

                    </aside>

                }
            }
            <!-- end: sidebar -->



            <section role="main" class="content-body">

                @RenderBody()

                <footer>

                    <p class="text-center copyright">&copy; @DateTime.Now.Year - Cosmic PoS Admin Panel</p>
                </footer>
            </section>
        </div>
    </section>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/vendor")
    @Scripts.Render("~/bundles/datatables")
    @*@Scripts.Render("~/bundles/js")*@

    @RenderSection("scripts", required: false)
    @section scripts
      {
        <script>
           
            $(document).on('submit', 'form', function () {
                var buttons = $(this).find('[type="submit"]');
                if ($(this).valid()) {
                    buttons.each(function (btn) {
                        $(buttons[btn]).prop('disabled', true);
                    });
                } else {
                    buttons.each(function (btn) {
                        $(buttons[btn]).prop('disabled', false);
                    });
                }

            });
              
        </script>
       
    }

<script>
    //$(document).ready(function () {
    //    $("*").dblclick(function (e) {
    //        e.preventDefault();
    //    });
    //});
   
     
    
    $('html').bind('keypress', function (e) {
        if (e.keyCode === 13) {
            return false;
        }
    });
    $("input").on("keypress", function (e) {
        if (e.which === 32 && !this.value.length) {
            e.preventDefault();
        }
    });
</script>


</body>
</html>
