<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cosmic PoS</title>
    <!-- Web Fonts  -->
    <link href="~/Content/fontStyle.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/datatables")
    <style>
        select {
            padding: 0 !important;
        }
        .modalheader {
            background-color: #111640;
            text-align: center;
            color:#ffffff;
            
        }
        .modalFooter {
            background-color: #e5e5e6;
            color: black;
        }
        .btnPro {
            background-color: #111640;
            color: #ffffff;
            font-size: small;
        }
        .btnPro1 {
            background-color: #d2322d;
            color: #ffffff;
            font-size: small;
        }
        .radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
            margin-left: 0;
        }
        .radio, .checkbox {
            margin-top: 0;
        }
    </style>

</head>
<body>

    <section class="body">

        <!-- start: header -->
        <header class="header">
            <div class="logo-container">
                <a href="@Url.Action("Index","Home")" class="logo">
                    <img src="~/Content/images/pos-logo.png"  alt="Cosmic Admin"/>
                    <h5 style="display: inline-block; display: inline-block; -webkit-background-clip: text !important; font-weight: bold; font-style: italic; background: -webkit-linear-gradient(#5fb1be 0%, #98dfe4 100%); -webkit-text-fill-color: transparent;">
                        
                    </h5>
                </a>
                <div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
                    <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                </div>
            </div>

            <!-- start: search & user box -->
        @{
            if (Request.IsAuthenticated)
            {
                <div class="header-right">

                    <form action="pages-search-results.html" class="search nav-form">
                        <div class="input-group input-search">
                            <input type="text" class="form-control" name="q" id="q" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </form>




                    <span class="separator"></span>

                    @Html.Partial("_LoginPartial")
                </div>
            }
            else
            {
            }
        }
            <!-- end: search & user box -->
        </header>
        <!-- end: header -->

        <div class="inner-wrapper">
            <!-- start: sidebar -->
            @{
                if (Request.IsAuthenticated)
                {
                    <aside id="sidebar-left" class="sidebar-left">

                        <div class="sidebar-header">
                            <div class="sidebar-title">
                                <span class="fa fa-cloud"> POScloud</span>
                            </div>
                            <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
                                <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                            </div>
                        </div>

                        <div class="nano">
                            <div class="nano-content">
                                <nav id="menu" class="nav-main" role="navigation">
                                    <ul class="nav nav-main">
                                        <li class="nav-active">
                                            <a href="@Url.Action("Index","Home")">
                                                <i class="fa fa-home" aria-hidden="true"></i>
                                                <span>Dashboard</span>
                                            </a>
                                        </li>@{
                                            if (Request.IsAuthenticated)
                                            {


                                                <li class="nav-parent">
                                                    <a>
                                                        <i class="fa fa-user-secret" aria-hidden="true"></i>
                                                        <span>Users </span>
                                                    </a>
                                                    <ul class="nav nav-children">
                                                        <li>
                                                            <a href="~/user/create">
                                                                Add New User
                                                            </a>
                                                        </li>

                                                        <li>
                                                            <a href="~/user">
                                                                Edit a User
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="~/user">
                                                                Users Listing
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="~/user">
                                                                Change Password
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                Users Settings
                                                            </a>
                                                        </li>


                                                    </ul>
                                                </li>
                                                <li class="nav-parent">
                                                    <a>
                                                        <i class="fa fa-server" aria-hidden="true"></i>
                                                        <span>Products/Services</span>
                                                    </a>
                                                    <ul class="nav nav-children">
                                                        <li>
                                                            <a href="@Url.Action("ProductCategoryList","Products")">
                                                                Product Categories
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="@Url.Action("ProductsList","Products")">
                                                                Products
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="@Url.Action("ServicesList","Services")">
                                                                Services
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="@Url.Action("ServiceCategoryList","Services")">
                                                                Services Categories
                                                            </a>
                                                        </li>

                                                    </ul>
                                                </li>
                                                <li class="nav-parent">
                                                    <a>
                                                        <i class="fa fa-exchange " aria-hidden="true"></i>
                                                        <span>Sales order</span>
                                                    </a>
                                                    <ul class="nav nav-children">
                                                        <li>
                                                            <a href="@Url.Action("SaleOrderList","SaleOrders")">
                                                                Sale Order
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="@Url.Action("SaleOrderDetailList","SaleOrders")">
                                                                SaleOrder Details
                                                            </a>
                                                        </li>

                                                    </ul>
                                                </li>
                                                <li class="nav-parent">
                                                    <a>
                                                        <i class="fa fa-shopping-cart " aria-hidden="true"></i>
                                                        <span>Purchase Orders</span>
                                                    </a>
                                                    <ul class="nav nav-children">
                                                        <li>
                                                            <a href="@Url.Action("PurchaseOrderList","PurchaseOrders")">
                                                                Purchase Order
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="@Url.Action("PurchaseOrderDetailList","PurchaseOrders")">
                                                                PurchaseOrder Details
                                                            </a>
                                                        </li>

                                                    </ul>
                                                </li>
                                                <li class="nav-parent">
                                                    <a>
                                                        <i class="fa fa-dollar" aria-hidden="true"></i>
                                                        <span>Expenses</span>
                                                    </a>
                                                    <ul class="nav nav-children">
                                                        <li>
                                                            <a href="@Url.Action("ExpenseHeadList","Expense")">
                                                                Expense Heads
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="@Url.Action("ExpenseList","Expense")">
                                                                Expenses
                                                            </a>
                                                        </li>

                                                    </ul>
                                                </li>
                                                <li class="nav-parent">
                                                    <a>
                                                        <i class="fa fa-server" aria-hidden="true"></i>
                                                        <span>Stores</span>
                                                    </a>
                                                    <ul class="nav nav-children">
                                                        <li>
                                                            <a href="@Url.Action("StoresList","Store")">
                                                                Stores
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="nav-parent">
                                                    <a>
                                                        <i class="fa fa-download" aria-hidden="true"></i>
                                                        <span>Setup</span>
                                                    </a>
                                                    <ul class="nav nav-children">
                                                        <li>
                                                            <a href="@Url.Action("CustomerList","Setup")">
                                                                Customer
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="@Url.Action("EmployeeList","Setup")">
                                                                Employee
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="@Url.Action("SupplierList","Setup")">
                                                                Supplier
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="@Url.Action("DepartmentList","Setup")">
                                                                Department
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="@Url.Action("DesignationList","Setup")">
                                                                Designation
                                                            </a>
                                                        </li>


                                                    </ul>
                                                </li>
                                                <li class="nav-parent">
                                                    <a>
                                                        <i class="fa fa-gear" aria-hidden="true"></i>
                                                        <span>Settings</span>
                                                    </a>
                                                    <ul class="nav nav-children">

                                                        <li>
                                                            <a href="@Url.Action("StateList","Setup")">
                                                                State
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="@Url.Action("CityList","Setup")">
                                                                City
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="@Url.Action("LocationList","Setup")">
                                                                Location
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            }
                                        }
                                    </ul>

                                </nav>




                                <hr class="separator" />


                            </div>

                            <script>
                                // Preserve Scroll Position
                                if (typeof localStorage !== 'undefined') {
                                    if (localStorage.getItem('sidebar-left-position') !== null) {
                                        var initialPosition = localStorage.getItem('sidebar-left-position'),
                                            sidebarLeft = document.querySelector('#sidebar-left .nano-content');

                                        sidebarLeft.scrollTop = initialPosition;
                                    }
                                }
                            </script>

                        </div>

                    </aside>

                }
            }
            <!-- end: sidebar -->



            <section role="main" class="content-body">

                @RenderBody()
                <hr />
                <footer>
                    <p class="text-center">&copy; @DateTime.Now.Year - Cosmic PoS Admin Panel</p>
                </footer>
            </section>
        </div>
    </section>
    
    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/jqueryval")*@
    @Scripts.Render("~/bundles/bootstrap")
    @*@Scripts.Render("~/bundles/js")*@
    @Scripts.Render("~/bundles/vendor")
    @Scripts.Render("~/bundles/datatables")

    @RenderSection("scripts", required: false)
    @section scripts
      {
        <script>
            //$(document).ready(function () {
            //    $('.nano').nanoScroller({
            //        preventPageScrolling: true,
            //        sliderMaxHeight: 100,
            //        alwaysVisible: true
            //    });
            //});
          
        </script>
     
    }
    

   
       
   
</body>
</html>
