
@{
    ViewBag.Title = "MiscellaneousReport";
}

<div class="container-fluid">
    <div class="row mt-md">
        <div class="col-md-12">
            <ul class="snip1189">

                <li><a href="@Url.Action("SaleReport","Reports")">Sales</a></li>

                <li><a href="@Url.Action("InventoryReport","Reports")">Inventory</a></li>

                <li class="current">    <a href="#">Miscellaneous</a></li>

                <li><a href="@Url.Action("ExportingReport","Reports")">Exporting</a></li>

                <li><a href="@Url.Action("MyReports","Reports")">My Reports</a></li>




            </ul>
            <hr />

        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

            <h4 class=" wb-color  text-center mb-xl">Miscellaneous Reports</h4>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                @*<div class="col-md-4 mb-lg">
                    <a href="@Url.Action("GenerateReport", "Reports",new{target="GenerateProductPreparationTimeReport"})" class="modalShow" id=""><button type="button" class="btn outline-success chart ">Products Preparation Time</button></a>
                </div>*@
                <div class="col-md-4 mb-lg">
                    <a href="@Url.Action("GenerateReport", "Reports",new{target="GenerateProductCostReport"})" class="modalShow" id=""> <button type="button" class="btn outline-success chart ">Products Cost</button></a>
                </div>
                <div class="col-md-4 mb-lg">
                    <a href="@Url.Action("GenerateReport", "Reports",new{target="GenerateProductReturnReport"})" class="modalShow" id=""><button type="button" class="btn outline-success chart "> Product Returns</button></a>
                </div>
                @*<div class="col-md-4 mb-lg">
                    <a href="@Url.Action("GenerateReport", "Reports",new{target="GenerateTillLogReport"})" class="modalShow" id=""> <button type="button" class="btn outline-success chart ">Till Logs</button></a>
                </div>*@
                <div class="col-md-4 mb-lg">
                    <a href="@Url.Action("GenerateReport", "Reports",new{target="GenerateTillOperationReport"})" class="modalShow" id=""> <button type="button" class="btn outline-success chart "> Till Operations</button></a>
                </div>
                <div class="col-md-4 mb-lg">
                    <a href="@Url.Action("GenerateReport", "Reports",new{target="GenerateVoidReasonReport"})" class="modalShow" id=""> <button type="button" class="btn outline-success chart ">Void Reasons</button></a>
                </div>
                <div class="col-md-4 mb-lg">
                        <a href="@Url.Action("GenerateReport", "Reports",new{target="GenerateEmployeeShiftReport"})" class="modalShow" id=""> <button type="button" class="btn outline-success  chart"> Employees Shifts</button></a>
                </div>
                <div class="col-md-4 mb-lg">
                        <a href="@Url.Action("GenerateReport", "Reports",new{target="GenerateTaxReport"})" class="modalShow" id=""> <button type="button" class="btn outline-success chart ">Taxes</button></a>
                </div>



                <div class="col-md-4 mb-lg">
                        <a href="@Url.Action("GenerateReport", "Reports",new{target="GenerateOrderDiscountReport"})" class="modalShow" id=""> <button type="button" class="btn outline-success chart ">Orders Discounts</button></a>
                </div>
                <div class="col-md-4 mb-lg">
                        <a href="@Url.Action("GenerateReport", "Reports",new{target="GenerateProductDiscountReport"})" class="modalShow" id=""> <button type="button" class="btn outline-success chart ">Products Discounts</button></a>
                </div>
                @*<div class="col-md-4 mb-lg">
                        <a href="@Url.Action("GenerateReport", "Reports",new{target="GenerateProductSizeDiscountReport"})" class="modalShow" id=""><button type="button" class="btn outline-success chart "> Product Sizes Discounts</button></a>
                </div>*@


            </div>
        </div>
    </div>



</div>
<div id="ModalData"></div>
@section scripts
{
    <script>
        $('#datatable-default').dataTable();

        $('#datatable-default').on('click','a.modalShow', function () {
            $.blockUI({ css: { backgroundColor: '#fff', color: '#0aaa5a' } });
            $.ajax({
                url: this.href,
                type: 'GET',
                success: function (result) {
                    $('#ModalData').html(result);
                    $('#ordine').modal('show');
                    $.unblockUI();
                }
            });

            return false;
        });
        $('a.modalShow').on('click', function () {
            $.blockUI({ css: { backgroundColor: '#fff', color: '#0aaa5a' } }); 
            $.ajax({
                url: this.href,
                type: 'GET',
                success: function(result) {
                    $('#ModalData').html(result);
                    $('#ordine').modal('show');
                    $.unblockUI();
                }
            });

            return false;
        });
    </script>
}