

@{
    ViewBag.Title = "SaleReport";
}



<!-- start: page -->
<div class="container-fluid">
    <div class="row mt-md">
        <div class="col-md-12">
            <ul class="snip1189">

                <li class="current"><a href="#">Sales</a></li>

                <li><a href="@Url.Action("InventoryReport","Reports")">@POSApp.Resources.Resource.Inventory</a></li>


                <li><a href="@Url.Action("MiscellaneousReport","Reports")">Miscellaneous</a></li>

                <li><a href="@Url.Action("ExportingReport","Reports")">@POSApp.Resources.Resource.Exporting</a></li>

                <li><a href="@Url.Action("MyReports","Reports")">@POSApp.Resources.Resource.Myreport</a></li>




            </ul>
            <hr />

        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

            <h4 class=" wb-color  text-center">@POSApp.Resources.Resource.Salesreport</h4>
            <h4 class="mb-lg">Menu Sales</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4 mb-lg">
                    <a href="@Url.Action("GenerateReport", "Reports",new{target="GenerateSaleReport"})" class="modalShow" id=""> <button type="button" class="btn outline-success chart ">@POSApp.Resources.Resource.Salesreport</button></a>
                </div>
                <div class="col-md-4 mb-lg">
                    <a href="@Url.Action("GenerateReport", "Reports", new {target = "GenerateCategoriesSaleReport"})" class="modalShow" id=""> <button type="button" class="btn outline-success chart ">@POSApp.Resources.Resource.CategoriesSales</button></a>
                </div>
                <div class="col-md-4 mb-lg">
                    <a href="@Url.Action("GenerateReport", "Reports", new {target = "GenerateProductSaleReport"})" class="modalShow" id=""> <button type="button" class="btn outline-success chart ">@POSApp.Resources.Resource.ProductSales</button></a>
                </div>
                <div class="col-md-4 mb-lg">
                    <a href="@Url.Action("GenerateReport", "Reports", new {target = "GenerateProductSizeSaleReport"})" class="modalShow" id=""><button type="button" class="btn outline-success chart ">@POSApp.Resources.Resource.Productsizessales</button></a>
                </div>
                <div class="col-md-4 mb-lg">
                    <a href="@Url.Action("GenerateReport", "Reports", new {target = "GenerateComboSaleReport"})" class="modalShow" id=""> <button type="button" class="btn outline-success chart ">@POSApp.Resources.Resource.Combossales</button></a>
                </div>
                <div class="col-md-4 mb-lg">
                    <a href="@Url.Action("GenerateReport", "Reports", new {target = "GenerateProductSizeByOrderTypeSaleReport"})" class="modalShow" id=""> <button type="button" class="btn outline-success chart ">@POSApp.Resources.Resource.Productsizesbyordertypesales</button></a>
                </div>
                <div class="col-md-4 mb-lg">
                    <a href="@Url.Action("GenerateReport", "Reports", new {target = "GenerateModifierSaleReport"})" class="modalShow" id=""> <button type="button" class="btn outline-success chart "> @POSApp.Resources.Resource.modifierssales</button></a>
                </div>
                <div class="col-md-4 mb-lg">
                    <a href="@Url.Action("GenerateReport", "Reports", new {target = "GenerateProductModifierSaleReport"})" class="modalShow" id=""> <button type="button" class="btn outline-success  chart">@POSApp.Resources.Resource.productmodifierssales</button></a>
                </div>
                <div class="col-md-4 mb-lg">
                    <a href="@Url.Action("GenerateReport", "Reports", new {target = "GenerateProductTimelySaleReport"})" class="modalShow" id=""> <button type="button" class="btn outline-success chart ">@POSApp.Resources.Resource.productstimelysales</button></a>
                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-md-12">


            <h4 class="mb-lg ">@POSApp.Resources.Resource.Locationssales</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4 mb-lg">
                    <a href="@Url.Action("GenerateReport", "Reports",new{target="GenerateBranchSaleReport"})" class="modalShow" id=""> <button type="button" class="btn outline-success chart ">@POSApp.Resources.Resource.Branchessales</button></a>
                </div>
                <div class="col-md-4 mb-lg">
                    <a href="@Url.Action("GenerateReport", "Reports",new{target="GenerateBranchTimelySaleReport"})" class="modalShow" id=""> <button type="button" class="btn outline-success chart ">@POSApp.Resources.Resource.branchestimelysales</button></a>
                </div>
               
                <div class="col-md-4 mb-lg">
                    <a href="@Url.Action("GenerateReport", "Reports",new{target="GenerateTableSaleReport"})" class="modalShow" id=""> <button type="button" class="btn outline-success chart ">@POSApp.Resources.Resource.tablessales</button></a>
                </div>

            </div>
        </div>
    </div>




    <div class="row">
        <div class="col-md-12">


            <h4 class="mb-lg ">@POSApp.Resources.Resource.EmployeesIncome</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4 mb-lg">
                    <a href="@Url.Action("GenerateEmployeeReport", "Reports",new{target="GenerateAgentIncomeReport"})" class="modalShow" id="">  <button type="button" class="btn outline-success chart ">@POSApp.Resources.Resource.EmployeesIncome</button></a>
                </div>
               

            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">


            <h4 class="mb-lg ">@POSApp.Resources.Resource.Others</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4 mb-lg">
                    <a href="@Url.Action("GenerateReport", "Reports",new{target="GenerateCustomerSaleReport"})" class="modalShow" id=""> <button type="button" class="btn outline-success chart "> @POSApp.Resources.Resource.Customerssales</button></a>
                </div>
                <div class="col-md-4 mb-lg">
                    <a href="@Url.Action("GenerateReport", "Reports",new{target="GeneratePaymentMethodReport"})" class="modalShow" id=""> <button type="button" class="btn outline-success chart ">@POSApp.Resources.Resource.PaymentMethod</button></a>
                </div>
                <div class="col-md-4 mb-lg">
                    <a href="@Url.Action("GenerateReport", "Reports",new{target="GeneratePaymentMethodTimelySaleReport"})" class="modalShow" id=""><button type="button" class="btn outline-success chart ">@POSApp.Resources.Resource.paymentmethodstimelysales</button></a>
                </div>
                <div class="col-md-4 mb-lg">
                    <a href="@Url.Action("GenerateReport", "Reports",new{target="GenerateOrderTypeSaleReport"})" class="modalShow" id=""> <button type="button" class="btn outline-success chart ">@POSApp.Resources.Resource.ordertypesales </button></a>
                </div>

            </div>
        </div>
    </div>


</div>



<div id="ModalData"></div>
@section scripts
{
    <script>
        $('#datatable-default').dataTable();

        $('#datatable-default').on('click','a.modalShow', function () {
            $.blockUI({ css: { backgroundColor: '#fff', color: '#0aaa5a' } }); 
            $.ajax({
                url: this.href,
                type: 'GET',
                success: function(result) {
                    $('#ModalData').html(result);
                    $('#ordine').modal('show');
                    $.unblockUI();
                }
            });

            return false;
        });
        $('a.modalShow').on('click', function () {
            $.blockUI({ css: { backgroundColor: '#fff', color: '#0aaa5a' } }); 
            $.ajax({
                url: this.href,
                type: 'GET',
                success: function(result) {
                    $('#ModalData').html(result);
                    $('#ordine').modal('show');
                    $.unblockUI();
                }
            });

            return false;
        });
    </script>
}
