@model POSApp.Core.ViewModels.TransMasterViewModel
@{
    Layout = null;
}

<div class="row mb-lg">
    <div class="col-md-12">
        <table class="table mb-none" style="width: 100%" id="datatable-default">
            <thead>
                <tr>
                    <th>@POSApp.Resources.Resource.ID</th>
                    <th>@POSApp.Resources.Resource.name</th>
                    <th>@POSApp.Resources.Resource.Quantity</th>
                    <th>@POSApp.Resources.Resource.Unit</th>
                    <th>@POSApp.Resources.Resource.Cost</th>
                    <th width="15%"> Batch Number</th>
                    <th width="15%"> ManufactureDate</th>
                    <th width="15%"> ExpiryDate</th>
                    <th>@POSApp.Resources.Resource.Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.TransDetailViewModels != null)
                {

                    if (Model.TransDetailViewModels.Count() > 0)
                    {

                        for (int number = 0; number < Model.TransDetailViewModels.Count; number++)
                        {
                            @Html.HiddenFor(a => a.TransDetailViewModels[number].ProductCode)
                            @Html.HiddenFor(a => a.TransDetailViewModels[number].StoreId)
                            @Html.HiddenFor(a => a.TransDetailViewModels[number].Id)
                            @Html.HiddenFor(a => a.TransDetailViewModels[number].Quantity)
                            @Html.HiddenFor(a => a.TransDetailViewModels[number].ProductName)
                            @Html.HiddenFor(a => a.TransDetailViewModels[number].UnitName)
                            @Html.HiddenFor(a => a.TransDetailViewModels[number].UnitPrice)
                            <tr>
                                <td>@(number + 1)</td>
                                <td>@Html.DisplayFor(a => a.TransDetailViewModels[number].ProductName)</td>
                                <td>@Html.DisplayFor(a => a.TransDetailViewModels[number].Quantity)</td>
                                <td>@Html.DisplayFor(a => a.TransDetailViewModels[number].UnitName)</td>
                                <td>@Html.DisplayFor(a => a.TransDetailViewModels[number].UnitPrice)</td>
                                <th width="15%">
                                    @Html.TextBoxFor(a => a.TransDetailViewModels[number].BatchNumber, new { @class = "form-control", @type = "text", @required = "", @placeholder = "BatchNumber", @style = "width: 100%" })
                                </th>
                                <th width="15%">
                                    @Html.TextBoxFor(a => a.TransDetailViewModels[number].ManufactureDate, new { @class = "form-control unstyled", @type = "date", @required = "", @placeholder = "BatchNumber", @style = "width: 100%" })
                                </th>
                                <th width="15%">
                                    @Html.TextBoxFor(a => a.TransDetailViewModels[number].ExpiryDate, new { @class = "form-control unstyled", @type = "date", @required = "", @placeholder = "BatchNumber", @style = "width: 100%" })
                                </th>
                                <td class="center">
                                    <div class="btn-group">
                                        @*<a href="#" class="btn btn-default text-success btn-sm fa fa-edit  " onclick="ShowUpdate('@item.ProductCode.ToString()','@item.StoreId.ToString()')" data-toggle="tooltip" title="Edit !"></a>*@
                                        @Ajax.ActionLink(" ", "RemovePurchasingItem", "PurchaseOrders", new {productId = Model.TransDetailViewModels[number].ProductCode, storeId = Model.TransDetailViewModels[number].StoreId}, new AjaxOptions
                                        {
                                            HttpMethod = "GET",
                                            UpdateTargetId = "AjaxUpdate"
                                        }, new
                                        {
                                            @onclick = "return confirm('Are you sure?')",
                                            @class = "btn btn-danger btn-sm fa fa-trash-o",
                                            @style = "color: #ffffff;"
                                        })
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="8" class="text-center">@POSApp.Resources.Resource.Norecordsfound</td>
                        </tr>
                    }
                }


            </tbody>
        </table>
    </div>
</div>


