@model POSApp.Core.ViewModels.CityModelView

@{
    Layout = null;
}

<div id="ordine" class="modal fade" role="dialog">
    @{ string s = ViewBag.edit;}

    @using (Html.BeginForm(s, "Setup", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="modal-dialog modal-md">
            <!-- Modal content-->
            <div class="modal-content ">
                <div class="modal-header modalheader">
                    <button type="button" class="close modalheader" data-dismiss="modal">×</button>

                    @if (s.Contains("Add"))
                    {
                        <h4 class="modal-title">
                            Add City
                        </h4>
                    }
                    else
                    {
                        <h4 class="modal-title">
                            Edit City
                        </h4>
                    }


                </div>
                <div class="modal-body">
                    <div class="panel panel-bd lobidrag">

                        <div class="panel-body">

                            @Html.HiddenFor(a => a.Id)
                            @Html.HiddenFor(a => a.CreatedBy)
                            @Html.HiddenFor(a => a.CreatedOn)
                            <div class="">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.Name, htmlAttributes: new {@class = "control-label"})
                                            @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control", @required = true } })
                                            @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
                                        </div>

                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.StateId, htmlAttributes: new { @class = "control-label" })
                                            <div class="input-group">
                                            @Html.DropDownListFor(model => model.StateId, Model.StateDdl, "Select an Option", new { @class = "form-control", @required = true } )
                                            <span class="input-group-addon" style="   ">
                                                <i class="fa fa-plus "></i>
                                            </span>
                                            @Html.ValidationMessageFor(model => model.StateId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default btn-lg btnPro"><span class="fa fa-send"></span>Save</button>
                    <button type="button" class="btn btn-default btn-lg btnPro1" data-dismiss="modal"><span class="fa fa-close"></span>Close</button>
                </div>
            </div>
        </div>
    }
</div>










