@model POSApp.Core.ViewModels.DineTableViewModel

@{
    Layout = null;
}
<div id="ordine" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    @{ string s = ViewBag.edit;}

    @using (Html.BeginForm(s, "Setup", FormMethod.Post, new {enctype = "multipart/form-data"}))
    {
        @Html.AntiForgeryToken()
        <div class="modal-dialog modal-md">
            <!-- Modal content-->
            <div class="modal-content ">
                <div class="modal-header modalheader">
                    <button type="button" class="close modalheader" data-dismiss="modal">×</button>

                    @if (s.Contains("Add"))
                    {
                        <h4 class="modal-title">
                            Add Dine Table
                        </h4>
                    }
                    else
                    {
                        <h4 class="modal-title">
                            Edit Dine Table
                        </h4>
                    }


                </div>
                <div class="modal-body">
                    <div class="panel panel-bd lobidrag">

                        <div class="panel-body">

                            @Html.HiddenFor(a => a.Id)
                            @Html.HiddenFor(a => a.CreatedBy)
                            @Html.HiddenFor(a => a.CreatedOn)
                            @Html.HiddenFor(a => a.StoreId)

                            <div class="">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                                    <div class="col-md-6">
                                <div class="form-group">
                                    
                                        @Html.Label("DineTable Number", htmlAttributes: new { @class = "control-label required1 " })
                                        @Html.EditorFor(model => model.DineTableNumber, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.DineTableNumber, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    @Html.Label("Select Floor", htmlAttributes: new { @class = "control-label required1 " })
                         
                                        @Html.DropDownListFor(model => model.FloorId, Model.FloorDdl, "Select a Floor", new { @class = "form-control", @required = "true" })
                                        @Html.ValidationMessageFor(model => model.FloorId, "", new { @class = "text-danger" })
                               
                                </div>
                                

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default btn-lg btnPro"><span class="fa fa-send"></span>Save</button>
                        <button type="button" class="btn btn-default btn-lg btnPro1" data-dismiss="modal"><span class="fa fa-close"></span>Close</button>
                    </div>
                </div>
            </div>
            }

        </div>
    }
<div id="ModalData1"></div>
<script>
        @*function UpdateDdlDineTable() {
            $.ajax({
                url: "@Url.Action("GetDineTableDdl", "Setup")",
                type: 'GET',
                cache: false,
                success: function (result) {
                    var $dropdown = $("#@Html.IdFor(a=>a.FloorId)");
                    $dropdown.empty();
                    $dropdown.append($("<option />").val('').text("Select an Option"));
                    $.each(result, function (index, value) {
                        $dropdown.append($("<option />").val(value.Id).text(value.Name));
                    });

                }
            });

        }*@

    $('a.modalShow1').on('click', function () {
        $.blockUI({ css: { backgroundColor: '#fff', color: '#0aaa5a' } }); 
        $.ajax({
            url: this.href,
            type: 'GET',
            success: function(result) {
                $('#ModalData1').html(result);
                $('#ordine2').modal('show');
                $.unblockUI();
            }
        });

        return false;
    });

</script>
</div>










