@model POSApp.Core.ViewModels.POSTerminalViewModel
@{
    Layout = null;
}
<div id="ordine" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    @{ string s = ViewBag.edit;}

    @using (Html.BeginForm(s, "Setup", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="modal-dialog modal-md">
            <!-- Modal content-->
            <div class="modal-content ">
                <div class="modal-header modalheader">
                    <button type="button" class="close modalheader" data-dismiss="modal">×</button>

                    @if (s.Contains("Add"))
                    {
                        <h4 class="modal-title">
                            Add Terminal
                        </h4>
                    }
                    else
                    {
                        <h4 class="modal-title">
                            Edit Terminal
                        </h4>
                    }


                </div>
                <div class="modal-body">
                    <div class="panel panel-bd lobidrag">

                        <div class="panel-body">

                            @Html.HiddenFor(a => a.POSTerminalId)
                            @Html.HiddenFor(a => a.CreatedBy)
                            @Html.HiddenFor(a => a.CreatedOn)
                            @Html.HiddenFor(a => a.StoreId)

                            <div class="">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                                <div class="col-md-6">
                                    <div class="form-group">

                                        @Html.Label("Name", htmlAttributes: new { @class = "control-label required1 " })
                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Name", @required = "true", autofocus = "" } })
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    @Html.Label("Select Section", htmlAttributes: new { @class = "control-label required1 " })

                                    <div class="input-group">
                                        @Html.DropDownListFor(model => model.SectionId, Model.SectionDdl, "Select an Option", new { @class = "form-control", @required = true, autofocus = "" })
                                        <span class="input-group-addon" style="">
                                            <a href="@Url.Action("AddSectionPartial", "Products")" class="modalShow2" id="#arrButtonIds"> <i class="fa fa-plus "></i></a>
                                        </span>
                                        @Html.ValidationMessageFor(model => model.SectionId, "", new { @class = "text-danger" })
                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default btn-lg btnPro"><span class="fa fa-send"></span>Save</button>
                        <button type="button" class="btn btn-default btn-lg btnPro1" data-dismiss="modal"><span class="fa fa-close"></span>Close</button>
                    </div>
                </div>
            </div>
            }
        </div>
    }
    <div id="ModalData1"></div>
    <script>
        @*function UpdateDdlDineTable() {
            $.ajax({
                url: "@Url.Action("GetDineTableDdl", "Setup")",
                type: 'GET',
                cache: false,
                success: function (result) {
                    var $dropdown = $("#@Html.IdFor(a=>a.FloorId)");
                    $dropdown.empty();
                    $dropdown.append($("<option />").val('').text("Select an Option"));
                    $.each(result, function (index, value) {
                        $dropdown.append($("<option />").val(value.Id).text(value.Name));
                    });

                }
            });

        }*@
        function UpdateDdlSection() {
            $.ajax({
                url: "@Url.Action("GetSectionDdl", "Products")",
                type: 'GET',
                cache: false,
                success: function (result) {
                    var $dropdown = $("#@Html.IdFor(a=>a.SectionId)");
                    $dropdown.empty();
                    $dropdown.append($("<option />").val('').text("Select an Option"));
                    $.each(result, function (index, value) {
                        $dropdown.append($("<option />").val(value.Id).text(value.Name));
                    });

                }
            });
        }
        $('a.modalShow1').on('click', function () {
            $.blockUI({ css: { backgroundColor: '#fff', color: '#0aaa5a' } });
            $.ajax({
                url: this.href,
                type: 'GET',
                success: function (result) {
                    $('#ModalData1').html(result);
                    $('#ordine2').modal('show');
                    $.unblockUI();
                }
            });

            return false;
        });
        $('a.modalShow2').on('click', function () {
            $.blockUI({ css: { backgroundColor: '#fff', color: '#0aaa5a' } });
            $.ajax({
                url: this.href,
                type: 'GET',
                success: function (result) {
                    $('#ModalData1').html(result);
                    $('#ordine3').modal('show');
                    $.unblockUI();
                }
            });

            return false;
        });
    </script>

</div>











  