@model POSApp.Core.ViewModels.RoleViewModel
@{
    ViewBag.Title = "AddRole";
}
<style>
    .table > thead > tr > th {
        background-color: rgba(153, 153, 153, 0.4);
        padding: 16px 8px;
    }

    .btn-group > .btn-group {
        width: 60%
    }

    .multiselect, .dropdown-toggle {
        width: 100%;
    }

    .multiselect-container {
        width: 100%;
    }
    table > tbody > tr > td, table > thead > tr > th {
        text-align: left;
    }
    .form-check {
        display: flex;
        justify-content: flex-start;
    }
    .form-check-label {
        margin-left: 10px;
    }
    .toggable {
        margin-top:1.4rem !important;
    }
    .table th.table-fit,.table td.table-fit {
        width: 7% !important;
        white-space: nowrap;
    }
    #toggleAll{
        margin-top:unset !important;
    }
    .bolding {
        font-weight: bold !important;
    }

</style>







<div class="container-fluid">

    @using (Html.BeginForm())
    {
        <div class="row mt-lg">



            <div class="col-md-12">
                <div class="tabs  tabs-left">
                    <div class="row">
                        <div class="col-md-12 text-center  col-xs-12 mb-xlg">
                            <ul class=" snip1189 ">
                                <li class="mt-xs  current" id="basicInfo">
                                    <a href="#basicdata" class="" data-toggle="tab" onclick="$('#basicInfo').addClass('current'); $('#tranInfo').removeClass('current');">
                                        Basic Data
                                    </a>
                                </li>
                                <li id="tranInfo">
                                    <a href="#authorities" data-toggle="tab" onclick="$('#tranInfo').addClass('current'); $('#basicInfo').removeClass('current');">
                                        Authorities

                                    </a>
                                </li>
                            </ul>
                            <hr />
                            
                        </div>

                        <div class="tab-content col-md-8 col-xs-12 col-md-offset-2  p-xlg">
                            <div class="row mb-xlg">
                                <div class="col-md-12">
                                    <button type="submit" class="btn outline-success btn-sm" style="float:right;font-size:17px"><i class="fa fa-save  pr-md"></i> Save</button>
                                </div>
                            </div>
                            <div id="basicdata" class="tab-pane active">
                                <h4 class="mt-none mb-lg  text-weight-semibold ">Basic Data</h4>
                                <div class="row">
                                    <div class="col-md-9 col-lg-offset-2">
                                        @Html.HiddenFor(a => a.CreatedBy)
                                        @Html.HiddenFor(a => a.CreatedOn)
                                        @Html.HiddenFor(a => a.StoreId)

                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2 required1" })
                                            <div class="col-md-10">

                                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control required1", @required = "true", autofocus = "" } })
                                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                            </div>
                                        </div>



                                    </div>
                                </div>

                            </div>
                            <div id="authorities" class="tab-pane">
                                <div class=" mb-lg" id="header-flex">
                                    <h4 class="mt-xs  text-weight-semibold ">Authorities</h4>

                                </div>
                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="table-responsive">
                                            <table id="companyAuthorities" class="table text-left">
                                                <thead>
                                                    <tr>
                                                        <th class="table-fit">
                                                            <div class="checkbox-holder">
                                                                @if (Model.RoleSecurityRightViewModels.Where(a => !a.View || !a.Manage).Any())
                                                                {
                                                                    <input type="checkbox" id="toggleAll" class="toggable">
                                                                }
                                                                else
                                                                {
                                                                    <input type="checkbox" id="toggleAll" checked="checked" class="toggable">
                                                                }
                                                            </div>
                                                        </th>
                                                        <th style="vertical-align: top !important;">
                                                            <label for="toggleAll" class=" mb-0">Toggle All</label>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{
                                                        int j = 0;
                                                    }
                                                    @foreach (var module in Model.RoleSecurityRightViewModels)
                                                    {
                                                        @Html.HiddenFor(a => a.RoleSecurityRightViewModels[j].Module)
                                                        @Html.HiddenFor(a => a.RoleSecurityRightViewModels[j].SecurityObject)
                                                        @Html.HiddenFor(a => a.RoleSecurityRightViewModels[j].SecurityObjectId)

                                                        <tr>
                                                            <td style="vertical-align: top !important;">

                                                                @*<input type="checkbox" id="customers" class="form-check-input">*@

                                                            </td>
                                                            <td style="vertical-align: top !important;">
                                                                <h5 class="">
                                                                    <label for="customers" class="mb-0" style="text-align: left">@module.SecurityObject</label>
                                                                </h5>
                                                                <div class="form-check mb-xs col-lg-offset-1 col-lg-5" style="display: inline">
                                                                    @Html.CheckBoxFor(a => a.RoleSecurityRightViewModels[j].View, new { @class = "form-check-input ", @id = "customers" })
                                                                    @*<input type="checkbox" id="view-customers" value="view-customers" class="form-check-input">*@
                                                                    <label for="view-customers" class="form-check-label">View</label>
                                                                </div>
                                                                <div class="form-check mb-xs col-lg-offset-1 col-lg-5" style="display: inline">
                                                                    @Html.CheckBoxFor(a => a.RoleSecurityRightViewModels[j].Manage, new { @class = "form-check-input ", @id = "customers" })
                                                                    @*<input type="checkbox" id="manage-customers" value="manage-customers" class="form-check-input">*@
                                                                    <label for="manage-customers" class="form-check-label">Manage</label>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        j++;
                                                    }


                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


<div id="ModalData"></div>
@section scripts
{
    <script>
        $(function() {

        
            $(':checkbox[class=toggable],:checkbox[id=toggleAll]').click(function () {
                $(':checkbox[class=form-check-input],:checkbox[id=customers]').prop('checked', this.checked);
             


            });

            $('#datatable-default').on('click',
                'a.modalShow',
                function() {
                    $.blockUI({ css: { backgroundColor: '#fff', color: '#0aaa5a' } });
                    $.ajax({
                        url: this.href,
                        type: 'GET',
                        success: function(result) {
                            $('#ModalData').html(result);
                            $('#ordine').modal('show');
                            $.unblockUI();
                        }
                    });

                    return false;
                });
            $('a.modalShow').on('click',
                function() {
                    $.blockUI({ css: { backgroundColor: '#fff', color: '#0aaa5a' } });
                    $.ajax({
                        url: this.href,
                        type: 'GET',
                        success: function(result) {
                            $('#ModalData').html(result);
                            $('#ordine').modal('show');
                            $.unblockUI();
                        }
                    });

                    return false;
                });
            $('#datatable-default').dataTable();


            $("#ms_example7-toggle").click(function(e) {
                e.preventDefault();
                MultiSelect($("#ms_example7"), $(this));
            });
        });
    </script>
    <script>
        $("input").on("keypress",
            function(e) {
                if (e.which === 32 && !this.value.length)
                    e.preventDefault();
            });
    </script>
}



