@model POSApp.Core.ViewModels.RoleViewModel
@{
    ViewBag.Title = "AddRole";
}
<style>
    .table > thead > tr > th {
        background-color: rgba(153, 153, 153, 0.4);
        padding: 16px 8px;
    }

    .btn-group > .btn-group {
        width: 60%
    }

    .multiselect, .dropdown-toggle {
        width: 100%;
    }

    .multiselect-container {
        width: 100%;
    }
    table > tbody > tr > td, table > thead > tr > th {
        text-align: left;
    }
    .form-check {
        display: flex;
        justify-content: flex-start;
    }
    .form-check-label {
        margin-left: 10px;
    }
    .toggable {
       margin-top:1.4rem !important;
    }
    .table th.table-fit,.table td.table-fit {
        width: 7% !important;
        white-space: nowrap;
    }

</style>


<!-- start: page -->
@*<div class="container-fluid">
        <div class="row mt-md">
            <div class="col-md-12">
                <ul class="snip1189">

                    <li class="current"><a href="#">Sales</a></li>

                    <li><a href="@Url.Action("InventoryReport","Reports")">Inventory</a></li>

                    <li><a href="@Url.Action("MiscellaneousReport","Reports")">Miscellaneous</a></li>

                    <li><a href="@Url.Action("ExportingReport","Reports")">Exporting</a></li>

                    <li><a href="@Url.Action("MyReports","Reports")">My Reports</a></li>




                </ul>
                <hr />

            </div>
        </div>
    </div>*@




<div class="container-fluid">

    @using (Html.BeginForm())
    {
        <div class="row mt-lg">



            <div class="col-md-12">
                <div class="tabs  tabs-left">
                    <div class="row">
                        <div class="col-md-12 text-center  col-xs-12 mb-xlg">
                            <ul class=" snip1189 ">
                                <li class="mt-xs  current" id="basicInfo">
                                    <a href="#basicdata" class="" data-toggle="tab" onclick="$('#basicInfo').addClass('current'); $('#tranInfo').removeClass('current');">
                                        Basic Data
                                    </a>
                                </li>
                                <li id="tranInfo">
                                    <a href="#authorities" data-toggle="tab" onclick="$('#tranInfo').addClass('current'); $('#basicInfo').removeClass('current');">
                                        Authorities

                                    </a>
                                </li>
                            </ul>
                            <hr />
                            
                        </div>

                        <div class="tab-content col-md-8 col-xs-12 col-md-offset-2  p-xlg">
                            <div class="row mb-xlg">
                                <div class="col-md-12">
                                    <button type="submit" class="btn outline-success btn-sm" style="float:right;font-size:17px"><i class="fa fa-save  pr-md"></i> Save</button>
                                </div>
                            </div>
                            <div id="basicdata" class="tab-pane active">
                                <h4 class="mt-none mb-lg  text-weight-semibold ">Basic Data</h4>
                              <div class="row">
            <div class="col-md-9 col-lg-offset-2">
                @Html.HiddenFor(a => a.CreatedBy)
                @Html.HiddenFor(a => a.CreatedOn)
                @Html.HiddenFor(a => a.StoreId)

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>



            </div>
        </div>

                           




                            </div>
                            <div id="authorities" class="tab-pane">
                                <div class=" mb-lg" id="header-flex">
                                    <h4 class="mt-xs  text-weight-semibold ">Authorities</h4>

                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        @*<div class="form-group">

                                                <input type="checkbox" class="form-control" style="display:inline;width:18%"/>

                                                <label class="control-label" style="display:inline;float:right;    margin: 5px 20px 0px 0px !important;
        font-size: 16px;
        margin-top: 5px;">
                                                   Toggle All
                                                </label>
                                            </div>*@
                                        @*<div class="form-group">

            <div class="col-md-9 col-lg-offset-2">
                <div class="btn-group" style="display:block">
                    <select class="form-control" multiple="multiple" style="width:100%" data-plugin-multiselect data-plugin-options='{ "maxHeight": 200 }' data-multiselect-toggle-all="true" id="ms_example7">
                        <optgroup label="Customers">
                            <option value="View">View</option>
                            <option value="Manage">Manage</option>

                        </optgroup>
                        <optgroup label="Customers-tags">
                            <option value="Customers-tags-View">View</option>
                            <option value="Customers-tags-Manage">Manage</option>
                        </optgroup>

                        <optgroup label="inventory-items">
                            <option value="inventory-items-View">View</option>
                            <option value="inventory-items-Manage">Manage</option>
                        </optgroup>
                        <optgroup label="inventory-items-tags">
                            <option value="inventory-items-tags-View">View</option>
                            <option value="inventory-items-tags-Manage">Manage</option>
                        </optgroup>
                        <optgroup label="suppliers">
                            <option value="suppliers-View">View</option>
                            <option value="suppliers-Manage">Manage</option>
                        </optgroup>
                        <optgroup label="warehouses">
                            <option value="warehouses-View">View</option>
                            <option value="warehouses-Manage">Manage</option>
                        </optgroup>
                        <optgroup label="authorities.app-user-roles">
                            <option value="view-app-user-roles">view-app-user-roles</option>
                            <option value="manage-app-user-roles">manage-app-user-roles</option>
                        </optgroup>

                        <optgroup label="More">
                            <option value="Restore-Company-Data">Restore Company Data</option>



                            <option value="View-Cost">View Cost</option>

                        </optgroup>

                    </select>
                    <button id="ms_example7-toggle" class="btn outline-success">Select All</button>
                </div>
            </div>
        </div>*@
                                        <div class="table-responsive">
                                            <table id="companyAuthorities" class="table text-left">
                                                <thead>
                                                    <tr>
                                                        <th class="table-fit">
                                                            <div class="checkbox-holder">
                                                                <input type="checkbox" id="toggleAll" class="">
                                                            </div>
                                                        </th>
                                                        <th style="vertical-align: top !important;">
                                                            <label for="toggleAll" class=" mb-0">Toggle All</label>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td style="vertical-align: top !important;">

                                                            <input type="checkbox" id="customers" class="toggable">

                                                        </td>
                                                        <td style="vertical-align: top !important;">
                                                            <h5 class="">
                                                                <label for="customers" class="mb-0">customers</label>
                                                            </h5>
                                                            <div class="form-check mb-xs">
                                                                <input type="checkbox" id="view-customers" value="view-customers" class="form-check-input">
                                                                <label for="view-customers" class="form-check-label">View</label>
                                                            </div> <div class="form-check mb-xs">
                                                                <input type="checkbox" id="manage-customers" value="manage-customers" class="form-check-input">
                                                                <label for="manage-customers" class="form-check-label">Manage</label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="vertical-align: top !important;"><div class="checkbox-holder"><input type="checkbox" id="customers-tags" class="toggable"></div></td>
                                                        <td style="vertical-align: top !important;">
                                                            <h5 class="">
                                                                <label for="customers-tags" class="mb-0">customers-tags</label>
                                                            </h5>
                                                            <div class="form-check mb-xs">
                                                                <input type="checkbox" id="view-customers-tags" value="view-customers-tags" class="form-check-input">
                                                                <label for="view-customers-tags" class="form-check-label">View</label>
                                                            </div>
                                                            <div class="form-check mb-xs">
                                                                <input type="checkbox" id="manage-customers-tags" value="manage-customers-tags" class="form-check-input">
                                                                <label for="manage-customers-tags" class="form-check-label">Manage</label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="vertical-align: top !important;">
                                                            <div class="checkbox-holder">
                                                                <input type="checkbox" id="inventory-items" class="toggable">
                                                            </div>
                                                        </td>
                                                        <td style="vertical-align: top !important;">
                                                            <h5 class="">
                                                                <label for="inventory-items" class="mb-0">inventory-items</label>
                                                            </h5>
                                                            <div class="form-check mb-xs">
                                                                <input type="checkbox" id="view-inventory-items" value="view-inventory-items" class="form-check-input">
                                                                <label for="view-inventory-items" class="form-check-label">View</label>
                                                            </div>
                                                            <div class="form-check mb-xs">
                                                                <input type="checkbox" id="manage-inventory-items" value="manage-inventory-items" class="form-check-input">
                                                                <label for="manage-inventory-items" class="form-check-label">Manage</label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="vertical-align: top !important;">
                                                            <div class="checkbox-holder">
                                                                <input type="checkbox" id="inventory-items-tags" class="toggable">
                                                            </div>
                                                        </td>
                                                        <td style="vertical-align: top !important;">
                                                            <h5 class="">
                                                                <label for="inventory-items-tags" class="mb-0">inventory-items-tags</label>
                                                            </h5>
                                                            <div class="form-check mb-xs">
                                                                <input type="checkbox" id="view-inventory-items-tags" value="view-inventory-items-tags" class="form-check-input">
                                                                <label for="view-inventory-items-tags" class="form-check-label">View</label>
                                                            </div>
                                                            <div class="form-check mb-xs">
                                                                <input type="checkbox" id="manage-inventory-items-tags" value="manage-inventory-items-tags" class="form-check-input">
                                                                <label for="manage-inventory-items-tags" class="form-check-label">Manage</label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="vertical-align: top !important;">
                                                            <div class="checkbox-holder">
                                                                <input type="checkbox" id="suppliers" class="toggable">
                                                            </div>
                                                        </td>
                                                        <td style="vertical-align: top !important;">
                                                            <h5 class=""><label for="suppliers" class="mb-0">suppliers</label></h5>
                                                            <div class="form-check mb-xs">
                                                                <input type="checkbox" id="view-suppliers" value="view-suppliers" class="form-check-input">
                                                                <label for="view-suppliers" class="form-check-label">View</label>
                                                            </div>
                                                            <div class="form-check mb-xs">
                                                                <input type="checkbox" id="manage-suppliers" value="manage-suppliers" class="form-check-input">
                                                                <label for="manage-suppliers" class="form-check-label">Manage</label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="vertical-align: top !important;">
                                                            <div class="checkbox-holder">
                                                                <input type="checkbox" id="warehouses" class="toggable">
                                                            </div>
                                                        </td>
                                                        <td style="vertical-align: top !important;">
                                                            <h5 class=""><label for="warehouses" class="mb-0">warehouses</label></h5>
                                                            <div class="form-check mb-xs">
                                                                <input type="checkbox" id="view-warehouses" value="view-warehouses" class="form-check-input">
                                                                <label for="view-warehouses" class="form-check-label">View</label>
                                                            </div>
                                                            <div class="form-check mb-xs">
                                                                <input type="checkbox" id="manage-warehouses" value="manage-warehouses" class="form-check-input">
                                                                <label for="manage-warehouses" class="form-check-label">Manage</label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="vertical-align: top !important;">
                                                            <div class="checkbox-holder">
                                                                <input type="checkbox" id="app-user-roles" class="toggable">
                                                            </div>
                                                        </td>
                                                        <td style="vertical-align: top !important;">
                                                            <h5 class="">
                                                                <label for="app-user-roles" class="mb-0">authorities.app-user-roles</label>
                                                            </h5>
                                                            <div class="form-check mb-xs">
                                                                <input type="checkbox" id="view-app-user-roles" value="view-app-user-roles" class="form-check-input">
                                                                <label for="view-app-user-roles" class="form-check-label">view-app-user-roles</label>
                                                            </div>
                                                            <div class="form-check mb-xs">
                                                                <input type="checkbox" id="manage-app-user-roles" value="manage-app-user-roles" class="form-check-input">
                                                                <label for="manage-app-user-roles" class="form-check-label">manage-app-user-roles</label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="checkbox-holder">
                                                                <input type="checkbox" id="restore-company-deleted-items" value="restore-company-deleted-items" class="toggable">
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <label for="restore-company-deleted-items" class="mt-sm">Restore Company Data</label>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="checkbox-holder">
                                                                <input type="checkbox" id="view-cost" value="view-cost" class="toggable">
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <label for="view-cost" class="mt-sm">View Cost</label>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


<div id="ModalData"></div>
@section scripts
{
    <script>


        $('a.modalShow').on('click', function () {
            $.ajax({
                url: this.href,
                type: 'GET',
                cache: false,
                success: function (result) {
                    $('#ModalData').html(result).find('#ordine').modal('show');
                }
            });

            return false;
        });
        $('#datatable-default').dataTable();



        $("#ms_example7-toggle").click(function (e) {
            e.preventDefault();
            MultiSelect($("#ms_example7"), $(this));
        });

    </script>
}




