@model POSApp.Core.ViewModels.SupplierModelView
@{
    Layout = null;
}

<div id="ordine2" class="modal fade" role="dialog">
    @{ string s = ViewBag.edit;}

    @using (Ajax.BeginForm(s, "Setup", new AjaxOptions
    {
        HttpMethod = "Post",
        OnSuccess = "UpdateDdlSupplier();$('#ordine2').modal('hide');"
       ,
        UpdateTargetId = "ordine2"
    }, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="modal-dialog modal-md">
            <!-- Modal content-->
            <div class="modal-content ">
                <div class="modal-header modalheader">
                    <button type="button" class="close modalheader" onclick="$('#ordine2').modal('hide');">×</button>

                    @if (s.Contains("Add"))
                    {
                        <h4 class="modal-title">
                            Add Supplier
                        </h4>
                    }
                    else
                    {
                        <h4 class="modal-title">
                            Edit Supplier
                        </h4>
                    }



                </div>
                <div class="panel-body">

                    @Html.HiddenFor(a => a.Id)
                    @Html.HiddenFor(a => a.CreatedBy)
                    @Html.HiddenFor(a => a.CreatedOn)
                    
                    <div class="">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">

                            <div class="col-md-4">
                                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label required1" })
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Name", @required = true, autofocus = "" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>


                            <div class="col-md-4">
                                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label required1" })
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "abc@example.com", @required = true, @pattern = @"^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>


                            <div class="col-md-4">
                                @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label required1" })
                                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "050xxxxxxx", @pattern = @"^\(?([0-9]{3})\)?[-. ]?([0-9]{7})$" } })
                                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col-md-4">
                                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Address" } })
                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                            </div>


                            <div class="col-md-4">
                                @Html.LabelFor(model => model.ContactPerson, htmlAttributes: new { @class = "control-label required1" })
                                @Html.EditorFor(model => model.ContactPerson, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Name", @required = true } })
                                @Html.ValidationMessageFor(model => model.ContactPerson, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-4">
                                @Html.LabelFor(model => model.CpMobileNumber, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.CpMobileNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "050xxxxxxx", @required = true, @pattern = @"^\(?([0-9]{3})\)?[-. ]?([0-9]{7})$" } })
                                @Html.ValidationMessageFor(model => model.CpMobileNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col-md-4">
                                @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label " })
                                @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter State" } })
                                @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
                            </div>


                            <div class="col-md-4">
                                @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter City" } })
                                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default btn-lg btnPro"><span class="fa fa-send"></span>Save</button>
                    <button type="button" class="btn btn-default btn-lg btnPro1" onclick="$('#ordine2').modal('hide');"><span class="fa fa-close"></span>Close</button>
                </div>
            </div>
        </div>
    }
</div>
<script>
    $("input").on("keypress", function (e) {
        if (e.which === 32 && !this.value.length)
            e.preventDefault();
    });
</script>













