@using POSApp.Core.Models
@model IEnumerable<POSApp.Core.Models.Client>
@{
    ViewBag.Title = "ClientList";
    AlertModel alertModel = (AlertModel)TempData["Alert"];
}
@if (alertModel != null)
{
    @Html.Partial("~/Views/Shared/_AlertView.cshtml", alertModel)
}
<!-- start: page -->
<div class="row mt-md">
    <div class="col-md-12">
        <ul class="snip1189">
            <li><a href="@Url.Action("CustomerList","Setup")">Customer</a></li>
            <li><a href="@Url.Action("EmployeeList","Setup")">Employee</a></li>

            <li><a href="@Url.Action("SupplierList","Setup")">Supplier</a></li>

            <li><a href="@Url.Action("DepartmentList","Setup")">Department</a></li>

            @*<li><a href="@Url.Action("DesignationList","Setup")">Desigantion</a></li>*@

            @*<li><a href="@Url.Action("CouponList","Setup")">Coupon</a></li>*@

            <li class="hidden"><a href="@Url.Action("DiscountList","Setup")">Discount</a></li>
            <li><a href="@Url.Action("TaxList","Setup")">Tax</a></li>
            <li><a href="@Url.Action("StateList","Setup")">State</a></li>
            <li><a href="@Url.Action("CityList","Setup")">City</a></li>
            <li class="current"><a href="#">Client</a></li>
            <li><a href="@Url.Action("UnitList","Setup")">Unit</a></li>
            <li><a href="@Url.Action("TimedEventList","Setup")">Discount</a></li>
            <li><a href="@Url.Action("DineTableList","Setup")">Dine Table</a></li>
            <li><a href="@Url.Action("FloorList","Setup")">Floor</a></li>
            <li><a href="@Url.Action("POSTerminalList","Setup")">POS Terminal</a></li>
            <li><a href="@Url.Action("ShiftList","Setup")">Shifts</a></li>
            <li><a href="@Url.Action("TillOperationList","Setup")">Till Operation</a></li>
            <li><a href="@Url.Action("SectionList","Products")">Sections</a></li>
            <li><a href="@Url.Action("SizeList","Setup")">Size</a></li>
        </ul>
        <hr />

    </div>
</div>
<section class="panel">
    <header class="panel-heading">
        <div class="row">

            <div class="" id="header-flex">
                <h3 class="wb-color" style="flex-grow: 8"><b>Clients</b></h3>


                <a href="@Url.Action("AddClient", "Setup")" class="modalShow" style="flex-grow: 0.1">
                    <button type="button" class="btn outline-success btn-sm"><i class="fa fa-plus pr-sm"></i>Add Client</button>

                </a>
                <a href="@Url.Action("ClientExcelImport", "ExcelImport")" class="modalShow" style="flex-grow: 0">
                    <button type="button" class="btn outline-danger btn-sm"><i class="fa fa-plus pr-sm"></i>Import Data</button>

                </a>
            </div>
        </div>

        <h2 class="panel-title"></h2>
    </header>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table mb-none" style="width:100%" id="datatable-default">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Contact</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{ int i = 1;}
                    @foreach (var client in Model)
                    {
                        <tr>
                            <td>@(i++)</td>
                            <td>@client.Name</td>
                            <td>@client.Address</td>
                            <td>@client.Contact</td>

                            <td class="center">
                                <div class="btn-group">

                                    @Html.ActionLink(" ", "UpdateClient", "Setup", new { id = client.Id }, new { @class = "btn btn-default text-success btn-sm fa fa-edit modalShow ", data_toggle = "tooltip", title = "Edit !" })

                                    @Html.ActionLink(" ", "DeleteClient", "Setup", new { id = client.Id }, new { @class = "btn btn-default text-danger  btn-sm fa fa-trash", data_toggle = "tooltip", title = "Delete !", onclick = "return confirm('Are you sure?');" })
                                </div>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>





<div id="ModalData"></div>
@section scripts
{
    <script>
        $('#datatable-default').dataTable();

        $('a.modalShow').on('click', function () {
            $.blockUI({ css: { backgroundColor: '#fff', color: '#0aaa5a' } }); 
            $.ajax({
                url: this.href,
                type: 'GET',
                success: function(result) {
                    $('#ModalData').html(result);
                    $('#ordine').modal('show');
                    $.unblockUI();
                }
            });

            return false;
        });
        function CreateAssetSuccess(data) {
            if (data !== '') {
                $('#ordine').modal('hide');
                $('#ModalData').html(data);
                $('#ordine').modal('show');

                return;
            }
            location.reload();
        }
    </script>
}

