@using POSApp.Core.Models

@{
    ViewBag.Title = "RolesList";
    AlertModel alertModel = (AlertModel)TempData["Alert"];
}
@if (alertModel != null)
{
    @Html.Partial("~/Views/Shared/_AlertView.cshtml", alertModel)
}
@*<header class="page-header">
        <h2>PurchaseOrders</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="@Url.Action("Index","Home")">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>PurchaseOrder</span></li>

            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>*@

<!-- start: page -->

<div class="row mt-md">
    <div class="col-md-12">
        <ul class="snip1189">

            <li  class="hidden"><a href="@Url.Action("RolesList","Setup")">Roles</a></li>
            <li><a href="@Url.Action("UserList","User")">Users</a></li>
            <li><a href="@Url.Action("SecurityObjectList", "User")">SecurityObjects</a></li>

        </ul>
        <hr />

    </div>
</div>

<section class="panel">

    <header class="panel-heading">
        <div class="row">
            <div class="col-md-12">


                <div class="" id="header-flex">
                    <h3 class="wb-color" style="flex-grow: 8"><b>Roles </b></h3>



                    <a href="@Url.Action("AddRole","Setup")">
                        <button type="button" class="btn outline-success btn-sm"><i class="fa fa-plus pr-sm"></i>Add New </button>

                    </a>


                </div>





            </div>
        </div>


        <h2 class="panel-title"></h2>
    </header>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table mb-none" style="width:100%" id="datatable-default">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                @{ int i = 1;}
                @foreach (var role in Model)
                {
                    <tr>
                        <td>@(i++)</td>
                        <td>@role.Name</td>
                        <td class="center">
                            <div class="btn-group">

                                @Html.ActionLink(" ", "AddRole", "Setup", new { id = @role.Id }, new { @class = "btn btn-default text-success btn-sm fa fa-edit ", data_toggle = "tooltip", title = "Edit !" })
                                @Html.ActionLink(" ", "DeleteRole", "Setup", new { id = @role.Id }, new { @class = "btn btn-default text-danger  btn-sm fa fa-trash", data_toggle = "tooltip", title = "Delete !", onclick = "return confirm('Are you sure?');" })
                            </div>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</section>





<div id="ModalData"></div>
@section scripts
{
<script>
    $('#datatable-default').dataTable();

    $('#datatable-default').on('click','a.modalShow', function () {
        $.blockUI({ css: { backgroundColor: '#fff', color: '#0aaa5a' } }); 
        $.ajax({
            url: this.href,
            type: 'GET',
            success: function(result) {
                $('#ModalData').html(result);
                $('#ordine').modal('show');
                $.unblockUI();
            }
        });

        return false;
    });
    $('a.modalShow').on('click', function () {
        $.blockUI({ css: { backgroundColor: '#fff', color: '#0aaa5a' } }); 
        $.ajax({
            url: this.href,
            type: 'GET',
            success: function(result) {
                $('#ModalData').html(result);
                $('#ordine').modal('show');
                $.unblockUI();
            }
        });

        return false;
    });
</script>
}





