
@using POSApp.Core.Models
@model IEnumerable<POSApp.Core.Models.Size>

@{
    ViewBag.Title = "SizeList";
    AlertModel alertModel = (AlertModel)TempData["Alert"];
}
@if (alertModel != null)
{
    @Html.Partial("~/Views/Shared/_AlertView.cshtml", alertModel)
}


<!-- start: page -->
<div class="row mt-md">
    <div class="col-md-12">
        <ul class="snip1189">
            <li><a href="@Url.Action("CustomerList","Setup")">@POSApp.Resources.Resource.Customer</a></li>
            <li><a href="@Url.Action("EmployeeList","Setup")">@POSApp.Resources.Resource.Employee</a></li>

            <li><a href="@Url.Action("SupplierList","Setup")">@POSApp.Resources.Resource.Supplier</a></li>

            <li><a href="@Url.Action("DepartmentList","Setup")">@POSApp.Resources.Resource.Department</a></li>

            <li><a href="@Url.Action("DesignationList","Setup")">@POSApp.Resources.Resource.Designation</a></li>

            @*<li><a href="@Url.Action("CouponList","Setup")">Coupon</a></li>*@

            <li class="hidden"><a href="@Url.Action("DiscountList","Setup")">@POSApp.Resources.Resource.Discount</a></li>
            <li><a href="@Url.Action("TaxList","Setup")">@POSApp.Resources.Resource.Tax</a></li>
            <li><a href="@Url.Action("StateList","Setup")">@POSApp.Resources.Resource.State</a></li>

            <li><a href="@Url.Action("CityList","Setup")">@POSApp.Resources.Resource.City</a></li>
            @*<li><a href="@Url.Action("ClientList","Setup")">Client</a></li>*@
            <li><a href="@Url.Action("UnitList","Setup")">@POSApp.Resources.Resource.Unit</a></li>
            <li><a href="@Url.Action("TimedEventList","Setup")">@POSApp.Resources.Resource.Discount</a></li>
            <li><a href="@Url.Action("DineTableList","Setup")">Dine Table</a></li>
            <li><a href="@Url.Action("FloorList","Setup")">Floor</a></li>
            <li><a href="@Url.Action("POSTerminalList","Setup")">@POSApp.Resources.Resource.posterminal</a></li>
            <li><a href="@Url.Action("ShiftList","Setup")">@POSApp.Resources.Resource.SHIFTS</a></li>
            <li><a href="@Url.Action("TillOperationList","Setup")">@POSApp.Resources.Resource.tilloperations</a></li>
            <li><a href="@Url.Action("SectionList","Products")">Sections</a></li>
            <li class="current"><a href="#">@POSApp.Resources.Resource.size</a></li>
            <li><a href="@Url.Action("WarehouseList","Setup")">@POSApp.Resources.Resource.warehouse</a></li>
            <li><a href="@Url.Action("DeviceList", "Device")">@POSApp.Resources.Resource.Devices</a></li>
            <li><a href="@Url.Action("StoresList","Store")">@POSApp.Resources.Resource.Branches</a></li>

        </ul>
        <hr />

    </div>
</div>
<section class="panel">
    <header class="panel-heading">
        <div class="row">
            <div class="col-md-12">

                <div class="" id="header-flex">
                    <h3 class="wb-color" style="flex-grow: 8"><b>@POSApp.Resources.Resource.size</b></h3>



                    <a href="@Url.Action("AddSize", "Setup")" class="modalShow" style="flex-grow: 0.2">
                        <button type="button" class="btn outline-success btn-sm"><i class="fa fa-plus pr-sm"></i>Add Size</button>

                    </a>
                    <a href="@Url.Action("SizeExcelImport", "ExcelImport")" class="modalShow" style="flex-grow: 0">
                        <button type="button" class="btn outline-danger btn-sm"><i class="fa fa-plus pr-sm"></i>@POSApp.Resources.Resource.ImportData</button>

                    </a>

                </div>





            </div>
        </div>

        <h2 class="panel-title"></h2>
    </header>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table mb-none" style="width:100%" id="datatable-default">
                <thead>
                    <tr>
                        <th>@POSApp.Resources.Resource.ID</th>
                        <th>@POSApp.Resources.Resource.name</th>
                        <th>@POSApp.Resources.Resource.Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{ int i = 1;}
                    @foreach (var floor in Model)
                    {
                        <tr>
                            <td>@(i++)</td>
                            <td>@floor.Name</td>
                            <td class="center">
                                <div class="btn-group">

                                    @Html.ActionLink(" ", "UpdateSize", "Setup", new { id = @floor.Id }, new { @class = "btn btn-default text-success btn-sm fa fa-edit modalShow ", data_toggle = "tooltip", title = "Edit !" })
                                    @Html.ActionLink(" ", "DeleteSize", "Setup", new { id = @floor.Id }, new { @class = "btn btn-default text-danger  btn-sm fa fa-trash", data_toggle = "tooltip", title = "Delete !", onclick = "return confirm('Are you sure?');" })
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>






<div id="ModalData"></div>
@section scripts
{
    <script>
        $('#datatable-default').dataTable();

        $('#datatable-default').on('click','a.modalShow', function () {
            $.blockUI({ css: { backgroundColor: '#fff', color: '#0aaa5a' } });
            $.ajax({
                url: this.href,
                type: 'GET',
                success: function(result) {
                    $('#ModalData').html(result);
                    $('#ordine').modal('show');
                    $.unblockUI();
                }
            });

            return false;
        });
        $('a.modalShow').on('click', function () {
            $.blockUI({ css: { backgroundColor: '#fff', color: '#0aaa5a' } }); 
            $.ajax({
                url: this.href,
                type: 'GET',
                success: function(result) {
                    $('#ModalData').html(result);
                    $('#ordine').modal('show');
                    $.unblockUI();
                }
            });

            return false;
        });
        function CreateAssetSuccess(data) {
            if (data !== '') {
                $('#ordine').modal('hide');
                $('#ModalData').html(data);
                $('#ordine').modal('show');

                return;
            }
            location.reload();
        }
    </script>
}


