@model PoSCloudApp.Core.ViewModels.ProductCreateViewModel

@{
    Layout = null;
}

<div id="ordine" class="modal fade" role="dialog">
    @{ string s = ViewBag.edit;}

    @using (Html.BeginForm(s, "Products", FormMethod.Post, new {enctype = "multipart/form-data"}))
    {
        @Html.AntiForgeryToken()
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content ">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>

                    @if (s.Contains("Add"))
                    {
                        <h4 class="modal-title">
                            Add Product
                        </h4>
                    }
                    else
                    {
                        <h4 class="modal-title">
                            Edit Product
                        </h4>
                    }


                </div>
                <div class="modal-body">
                    <div class="panel panel-bd lobidrag">

                        <div class="panel-body">

                            @Html.HiddenFor(a => a.Id)
                            @Html.HiddenFor(a => a.CreatedBy)
                            @Html.HiddenFor(a => a.CreatedOn)
                            <div class="form-horizontal">


                                @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                              

                                

                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.Name, htmlAttributes: new {@class = "control-label col-md-3"})*
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control",@required=true}})
                                        @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
                                    </div>
                                </div>

                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.ProductCode, htmlAttributes: new {@class = "control-label col-md-3"})
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.ProductCode, new {htmlAttributes = new {@class = "form-control"}})
                                        @Html.ValidationMessageFor(model => model.ProductCode, "", new {@class = "text-danger"})
                                    </div>
                                </div>

                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.CategoryId, htmlAttributes: new { @class = "control-label col-md-6" })
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(model => model.CategoryId, Model.CategoryDdl, "Select an Option", new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.Duration, htmlAttributes: new {@class = "control-label col-md-3"})
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.Duration, new {htmlAttributes = new {@class = "form-control"}})
                                        @Html.ValidationMessageFor(model => model.Duration, "", new {@class = "text-danger"})
                                    </div>
                                </div>

                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.Available, htmlAttributes: new {@class = "control-label col-md-3"})
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.Available, new {htmlAttributes = new {@class = "form-control"}})
                                        @Html.ValidationMessageFor(model => model.Available, "", new {@class = "text-danger"})
                                    </div>
                                </div>

                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.SupplierId, htmlAttributes: new { @class = "control-label col-md-6" })
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(model => model.SupplierId, Model.SupplierDdl, "Select an Option", new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.SupplierId, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.Tax, htmlAttributes: new { @class = "control-label col-md-3" })*
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.Tax, new { htmlAttributes = new { @class = "form-control", @required = true } })
                                        @Html.ValidationMessageFor(model => model.Tax, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.UnitPrice, htmlAttributes: new { @class = "control-label col-md-3" })*
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.UnitPrice, new { htmlAttributes = new { @class = "form-control", @required = true } })
                                        @Html.ValidationMessageFor(model => model.UnitPrice, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.Stock, htmlAttributes: new {@class = "control-label col-md-3"})
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.Stock, new {htmlAttributes = new {@class = "form-control"}})
                                        @Html.ValidationMessageFor(model => model.Stock, "", new {@class = "text-danger"})
                                    </div>
                                </div>

                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.Barcode, htmlAttributes: new {@class = "control-label col-md-3"})
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.Barcode, new {htmlAttributes = new {@class = "form-control"}})
                                        @Html.ValidationMessageFor(model => model.Barcode, "", new {@class = "text-danger"})
                                    </div>
                                </div>

                                <div class="form-group col-md-6">
                                    @Html.LabelFor(model => model.Image, htmlAttributes: new {@class = "control-label col-md-3"})
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.Image, new {htmlAttributes = new {@class = "form-control"}})
                                        @Html.ValidationMessageFor(model => model.Image, "", new {@class = "text-danger"})
                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    }
</div>

           

        


    


