@model IEnumerable<PoSCloudApp.Core.Models.Product>
@{
    ViewBag.Title = "ProductsList";
}
<section role="main" class="content-body">
    <header class="page-header">
        <h2>Services/Products List</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="@Url.Action("Index","Home")">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Services/Products Listing</span></li>
                <li><span>Services/Products</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>

    <!-- start: page -->
    <section class="panel">
        <header class="panel-heading">
            <div class="panel-actions">
                <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                <a href="#" class="modal">
                    <span  class="fa fa-2x fa-plus-circle"></span>
                </a>
            </div>

            <h2 class="panel-title">Listing</h2>
        </header>
        <div class="panel-body">
            <table class="table table-bordered table-striped mb-none" style="width:100%" id="datatable-default">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th class="">Duration</th>
                        <th class="">Actions</th>
                    </tr>
                </thead>
                <tbody>
                @{ int i = 1;}
                @foreach (var product in Model)
                {
                    <tr class="">
                        <td>@(i++)</td>
                        <td>
                           @product.Name
                        </td>
                        <td>@product.UnitPrice</td>
                        <td class="center">@product.Duration</td>
                        <td class="center">

                        </td>
                    </tr>
                }


                </tbody>
            </table>
        </div>
    </section>




</section>

@section scripts
{
    <script>
        $('#datatable-default').dataTable();

        $('.modal').magnificPopup({
            type: 'inline',
            preloader: false,
            focus: '#name',
            modal: true,

            // When elemened is focused, some mobile browsers in some cases zoom in
            // It looks not nice, so we disable it:
            callbacks: {
                beforeOpen: function() {
                    if($(window).width() < 700) {
                        this.st.focus = false;
                    } else {
                        this.st.focus = '#name';
                    }
                }
            }
        });
    </script>
}

