@using POSApp.Core.Models
@model POSApp.Core.ViewModels.DashBoardViewModel
@{
    ViewBag.Title = "Home Page";

}

<style>
    .multiselect-container > li > a > label {
        text-align: center;
        padding: 10px 0px 10px 0px;
    }

    .radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
        margin-left: -20px;
    }
</style>
@*<br />
<a class="btn btn-danger" onclick="SendEmail()">Click to send an email</a>
<br />*@
<div class="row">
    <div class="col-md-6 col-lg-12 col-xl-6">
        <section class="panel">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="chart-data-selector" id="salesSelectorWrapper">
                            <h2>
                                @POSApp.Resources.Resource.MonthlySales
                                @*<strong>
                                        <select class="form-control" id="salesSelector">
                                            @if (Model.StoreDatas != null)
                                            {

                                                foreach (var s in Model.StoreDatas)
                                                {
                                                    <option value="Cosmic 1">@s.StoreName</option>
                                                }
                                            }
                                        </select>
                                    </strong>*@
                            </h2>
                            <div id="salesSelectorItems" class="chart-data-selector-items mt-sm">
                                <div class="chart chart-md chart-active" data-sales-rel="Cosmic 1" id="flotDashSales1"></div>
                                <script>

                                    var flotDashSales1Data = [{
                                        data: [
                                            //["Jan", 140],
                                            //["Feb", 240],
                                            //["Mar", 190],
                                            //["Apr", 140],
                                            //["May", 180],
                                            //["Jun", 320],
                                            //["Jul", 270],
                                            //["Aug", 180]
                                        ],
                                        color: "#d2322d"
                                    }];


                                </script>
                                @*<div class="chart chart-md" data-sales-rel="Cosmic 2" id="flotDashSales2" class="chart-hidden"></div>
                                    <script>

                                        var flotDashSales2Data = [{
                                            data: [
                                                //["Jan", 240],
                                                //["Feb", 240],
                                                //["Mar", 290],
                                                //["Apr", 540],
                                                //["May", 480],
                                                //["Jun", 220],
                                                //["Jul", 170],
                                                //["Aug", 190]
                                            ],
                                            color: "#d2322d"
                                        }];


                                    </script>

                                    <div class="chart chart-md" data-sales-rel="Cosmic 3" id="flotDashSales3" class="chart-hidden"></div>
                                    <script>

                                        var flotDashSales3Data = [{
                                            data: [
                                                //["Jan", 840],
                                                //["Feb", 740],
                                                //["Mar", 690],
                                                //["Apr", 940],
                                                //["May", 1180],
                                                //["Jun", 820],
                                                //["Jul", 570],
                                                //["Aug", 780]
                                            ],
                                            color: "#d2322d"
                                        }];


                                    </script>*@
                            </div>
                            <span class="center row">
                                <i class="fa fa-dot-circle-o col-md-4" style="color: #0aaa5a">  @POSApp.Resources.Resource.Purchases</i>
                                <i class="fa fa-dot-circle-o col-md-4" style="color: #bbb">  @POSApp.Resources.Resource.Expense</i>
                                <i class="fa fa-dot-circle-o col-md-4" style="color: #d2322d">  @POSApp.Resources.Resource.Sales</i>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6 ">
                        <h2 class="panel-title">@POSApp.Resources.Resource.YearlySalesvsExpenses</h2>
                        <!-- Morris: Bar -->
                        <div class="chart  pt-sm" id="morrisBar" style="height:392px"></div>
                        <script type="text/javascript">

                            var morrisBarData = [
                                //    {
                                //    c: '2004',
                                //    a: 10,
                                //    b: 30
                                //}, {
                                //    y: '2005',
                                //    a: 100,
                                //    b: 25
                                //}, {
                                //    y: '2006',
                                //    a: 60,
                                //    b: 25
                                //}, {
                                //    y: '2007',
                                //    a: 75,
                                //    b: 35
                                //}, {
                                //    y: '2008',
                                //    a: 90,
                                //    b: 20
                                //}, {
                                //    y: '2009',
                                //    a: 75,
                                //    b: 15
                                //}, {
                                //    y: '2010',
                                //    a: 50,
                                //    b: 10
                                //}, {
                                //    y: '2011',
                                //    a: 75,
                                //    b: 25
                                //}, {
                                //    y: '2012',
                                //    a: 30,
                                //    b: 10
                                //}, {
                                //    y: '2013',
                                //    a: 75,
                                //    b: 5
                                //}, {
                                //    y: '2014',
                                //    a: 60,
                                //    b: 8
                                //    }
                            ];


                        </script>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="col-md-6 col-lg-12 col-xl-6">
        <div class="row">
            <div class="col-xs-12 col-lg-3 col-xl-3">
                <section class="panel panel-featured-left panel-featured-primary">
                    <a href="@Url.Action("DailySales","SaleOrders")">
                        <div class="panel-body">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon">
                                        <img src="~/Content/images/icons/saleicon.png" />

                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">
                                        <h4 class="title">@POSApp.Resources.Resource.DailySales</h4>
                                        <div class="info">
                                            <strong class="amount">@string.Format("{0:N2}", Model.Sales)</strong>
                                            @*<a href="#" class="text-xs"> (view more)</a>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </section>
            </div>

            <div class="col-xs-12 col-lg-3 col-xl-3">
                <section class="panel panel-featured-left panel-featured-secondary">
                    <a href="@Url.Action("DailyExpenseList","Expense")">
                        <div class="panel-body">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon">
                                        <img src="~/Content/images/icons/expenceicon.png" />
                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">
                                        <h4 class="title">@POSApp.Resources.Resource.DailyExpense</h4>
                                        <div class="info">
                                            <strong class="amount">@string.Format("{0:N2}", Model.Expenses)</strong>
                                            @*<a href="#" class="text-danger text-xs"> (view more)</a>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </section>
            </div>
            <div class="col-xs-12 col-lg-3 col-xl-3">
                <section class="panel panel-featured-left panel-featured-tertiary">
                    <a href="@Url.Action("DailyPurchaseOrderList","PurchaseOrders")">
                        <div class="panel-body">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon">
                                        <img src="~/Content/images/icons/ordericon.png" />
                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">
                                        <h4 class="title">@POSApp.Resources.Resource.Dailypurchases</h4>
                                        <div class="info">
                                            <strong class="amount">@string.Format("{0:N2}", Model.PurchaseOrders)</strong>
                                            @*<a href="#" class="text-xs" style="color:#337ab7"> (view more)</a>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </section>
            </div>
            <div class="col-xs-12 col-lg-3 col-xl-3">
                <section class="panel panel-featured-left panel-featured-quartenary">
                    <a href="@Url.Action("DailyFunds","SaleOrders")">
                        <div class="panel-body">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon">
                                        <img src="~/Content/images/icons/refundicon.png" />
                                        @*<i class="fa fa-undo"></i>*@
                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">
                                        <h4 class="title">@POSApp.Resources.Resource.TotalRefunds</h4>
                                        <div class="info">
                                            <strong class="amount">@string.Format("{0:N2}", Model.Refunds)</strong>
                                            @*<a href="#" class="text-xs" style="color:#777777"> (view more)</a>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </section>
            </div>
        </div>
    </div>
</div>


@section scripts{
    @Scripts.Render("~/bundles/charts")
    <script>
        var SendEmail = function () {
            $.ajax({
                type: "Post",
                url: "/ReportMail/SendUserMail",
                success: function (data) {
                    alert("success");
                }
            });
        }
    </script>
    <script>

        $(document).ready(function() {
            $.ajax({
                url: "@Url.Action("GetGraphData","Home")",
                type: "GET",
                success: function (data) {

                    changeMorrisData(data.Morris);
                    changeLineGraphData(data.Line);


                },
                error: function(error) {
                    console.log(error);
                }
            });
        });


    </script>
}
<!-- end: page -->