@model IEnumerable<PoSCloudApp.Core.Models.SaleOrderDetail>
@{
    Layout = null;
}

<div id="ordine" class="modal fade" role="dialog">
 

 
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content ">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>


                        <h4 class="modal-title">
                            Sale Order Detail
                        </h4>
                  
                   


                </div>
                <div class="modal-body">
                    <div class="panel panel-bd lobidrag">

                        <div class="panel-body">

                          
                            <table class="table table-bordered table-striped mb-none" style="width:100%" id="datatable-default">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Product</th>
                                    <th>Qty</th>
                                    <th>Price</th>
                                    <th>Discount</th>
                                    <th>Total</th>

                                </tr>
                                </thead>
                                <tbody>
                                @{ int i = 1;}
                                @foreach (var saleOrder in Model)
                                {
                                    <tr>
                                        <td>@(i++)</td>
                                        <td>@saleOrder.Product.Name</td>
                                        <td>@saleOrder.Quantity</td>
                                        <td>@saleOrder.Price</td>
                                        <td>@saleOrder.Discount</td>
                                     
                        
                                        <td>
                                            @((saleOrder.Price*saleOrder.Quantity)-saleOrder.Discount)
                                        </td>
                                    </tr>
                                }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
  
</div>
