@using System.ServiceModel.Channels
@model POSApp.Core.Models.TransMaster
@{
//Layout = null;
}
<div class="mt-md pull-right">

    <input type='button' id='btnP' class="btn outline-success btn-sm" value='Print' onclick='printDiv();'>
    <a href="@Url.Action("SaleOrderList", "SaleOrders")" style="flex-grow: 0">
        <button type="button" class="btn outline-danger btn-sm"><i class="fa fa-list-ol pr-sm"></i>Sale Order List</button>

    </a>
</div>
<div class="container-fluid" id="DivIdToPrint">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="panel">
                <div class="panel-heading text-center"><h3><strong>Sale Order Details</strong></h3></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-md-4 col-sm-4 col-xs-4 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
                                    <h5><strong class="text-danger">Customer Name:</strong></h5>
                                    <h5><strong class="text-danger">Sale Id:</strong></h5>
                                    <h5><strong class="text-danger">Date & Time:</strong></h5>
                                    <h5><strong class="text-danger">Order Type: </strong></h5>
                                    <h5><strong class="text-danger">Payment Method: </strong></h5>
                                    <h5><strong class="text-danger">Invoice Total: </strong></h5>

                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
                                    <h5>@Model.BusinessPartner.Name</h5>
                                    <h5>@Model.TransCode</h5>
                                    <h5>@Model.TransDate</h5>

                                    @{
                                        string s = "";
                                        if (@Model.DeliveryType == "Dine In")
                                        {
                                            if (@Model.DineTableId != null)
                                            {


                                                s = "(" + @Model.DineTable.DineTableNumber +
                                                    ")";
                                            }
                                        }
                                        else
                                        {
                                            if (@Model.DeliveryType == "Delivery")
                                            {
                                                if (@Model.Address != null)
                                                {
                                                    s += @Model.Address;
                                                }


                                                if (@Model.ContactNumber != null)
                                                {
                                                    if (s != "")
                                                    {
                                                        s += " - ";
                                                    }

                                                }
                                                s += @Model.ContactNumber;
                                            }

                                        }

                                        <h5><b class="text-success">@Model.DeliveryType</b> @s </h5>


                                    }
                                    @foreach (var method in Model.TransMasterPaymentMethods)
                                    {
                                        <h5>@method.Method</h5>
                                    }

                                    <h5>@(Model.TotalPrice)</h5>
                                </div>
                            </div>
                        </div>





                    </div>

                            <table class="table table-responsive mb-none" style="width: 100%" id="datatable-default">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Product</th>
                                        <th>Modifiers</th>
                                        <th>Qty</th>
                                        <th>Price</th>
                                        <th>Tax</th>

                                        <th>Discount</th>
                                        
                                        <th>Total</th>

                                    </tr>
                                </thead>
                                <tbody>
                                @{ int i = 1;}
                                @foreach (var saleOrder in Model.TransDetails)
                                {
                                    <tr>
                                        <td>@(i++)</td>
                                        <td>@saleOrder.Product.Name</td>
                                        <td>
                                            @saleOrder.ModifierTransDetail.Count 
                                            @string.Join(",",saleOrder.ModifierTransDetail.Select(a=>a.ModifierOption+" x "+a.Quantity+" ("+a.UnitPrice+")").ToArray())
                                        </td>
                                        <td>@saleOrder.Quantity</td>
                                        <td>@saleOrder.UnitPrice</td>
                                        <td>@saleOrder.Tax</td>

                                        <td>@saleOrder.Discount</td>
                                        
                                        <td>
                                            @(((saleOrder.UnitPrice  + saleOrder.ModifierTransDetail.Sum(a => a.UnitPrice * a.Quantity)) * saleOrder.Quantity) + saleOrder.Tax - Convert.ToDecimal(saleOrder.Discount))
                                        </td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                </div>
            </div>
        </div>
    </div>
    
</div>

    @*<div id="ordine" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">



        <div class="modal-dialog modal-lg">
             Modal content
            <div class="modal-content ">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>


                    <h4 class="modal-title">
                        Sale Order Detail
                    </h4>




                </div>
                <div class="modal-body">
                    <div class="panel panel-bd lobidrag">
                        <h4 class="center "><strong>Detail</strong></h4>
                        <hr />
                        <div class="panel-body">
                            <div class="panel">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <h5><strong class="text-danger">Customer Name:</strong></h5>
                                                    <h5><strong class="text-danger">Sale Id:</strong></h5>
                                                    <h5><strong class="text-danger">Date & Time:</strong></h5>
                                                    <h5><strong class="text-danger">Order Type: </strong></h5>

                                                </div>
                                                <div class="col-md-6">
                                                    <h5>@Model.BusinessPartner.Name</h5>
                                                    <h5>@Model.TransCode</h5>
                                                    <h5>@Model.TransDate</h5>
                                                    @{
                                                        string s = "";
                                                        if (@Model.DeliveryType == "Dine In")
                                                        {
                                                            if (@Model.DineTableId != null)
                                                            {


                                                                s = "(" + @Model.DineTable.DineTableNumber +
                                                                    ")";
                                                            }
                                                        }
                                                        else
                                                        {
                                                            if (@Model.DeliveryType == "Delivery")
                                                            {
                                                                if (@Model.Address != null)
                                                                {
                                                                    s += @Model.Address;
                                                                }


                                                                if (@Model.ContactNumber != null)
                                                                {
                                                                    if (s != "")
                                                                    {
                                                                        s += " - ";
                                                                    }

                                                                }
                                                                s += @Model.ContactNumber;
                                                            }

                                                        }

                                                        <h5><b class="text-success">@Model.DeliveryType</b> @s </h5>
                                                    }
                                                </div>
                                            </div>




                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="panel panel-bd lobidrag">
                        <h4 class="center "><strong>Products</strong></h4>
                        <div class="panel-body">
                            <div class="panel">
                                <div class="panel-body">

                                </div>
                            </div>

                            <table class="table mb-none" style="width: 100%" id="datatable-default">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Product</th>
                                        <th>Modifiers</th>
                                        <th>Qty</th>
                                        <th>Price</th>
                                        <th>Discount</th>

                                        <th>Total</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @{ int i = 1;}
                                    @foreach (var saleOrder in Model.TransDetails)
                                    {
                                        <tr>
                                            <td>@(i++)</td>
                                            <td>@saleOrder.Product.Name</td>
                                            <td>@saleOrder.ModifierTransDetail.Count</td>
                                            <td>@saleOrder.Quantity</td>
                                            <td>@saleOrder.UnitPrice</td>
                                            <td>@saleOrder.Discount</td>



                                            <td>
                                                @(((saleOrder.UnitPrice + saleOrder.ModifierTransDetail.Sum(a => a.UnitPrice * a.Quantity)) * saleOrder.Quantity) - Convert.ToDecimal(saleOrder.Discount))
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>

    </div>*@
    



<script>
    function printDiv() 
    {

        var divToPrint=document.getElementById('DivIdToPrint');

        var newWin=window.open('','Print-Window');

        newWin.document.open();


        newWin.document.write('<html>  <link href = "/../Content/bootstrap.min.css" rel = "stylesheet" /><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">' +
            '<style>table>thead>tr>th {text-align: center;} table>tbody>tr>td {text-align: center;} </style><body onload="window.print() " width="1024">' + divToPrint.innerHTML + '</body></html>');

        newWin.document.close();

        setTimeout(function(){newWin.close();},10);

    }
</script>