@model IEnumerable<PoSCloudApp.Core.Models.Department>

@{
    ViewBag.Title = "DepartmentList";
}
<section role="main" class="content-body">
    <header class="page-header">
        <h2>Departments List</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="@Url.Action("Index","Home")">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Department Listing</span></li>
                <li><span>Setup</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>

    <!-- start: page -->
    <section class="panel">
        <header class="panel-heading">
            <div class="panel-actions">
                <a href="@Url.Action("AddDepartment","Setup")" class="modalShow">
                    <span class="fa fa-2x fa-plus-circle"></span>
                </a>
                <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
            </div>

            <h2 class="panel-title">Listing</h2>
        </header>
        <div class="panel-body">
            <table class="table table-bordered table-striped mb-none" style="width:100%" id="datatable-default">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{ int i = 1;}
                    @foreach (var department in Model)
                    {
                        <tr>
                            <td>@(i++)</td>
                            <td>@department.Name</td>
                            <td>
                                @Html.ActionLink(" ", "UpdateDepartment", "Setup", new { id = @department.Id }, new { @class = "btn btn-info btn-sm fa fa-pencil modalShow", @style = "color: #ffffff;" })
                                @Html.ActionLink(" ", "DeleteDepartment", "Setup", new { id = @department.Id }, new { @class = "btn btn-danger btn-sm fa fa-trash-o", @style = "color: #ffffff;", onclick = "return confirm('Are you sure?');" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>




</section>
<div id="ModalData"></div>
@section scripts
{
    <script>
        $('#datatable-default').dataTable();

        $('a.modalShow').on('click', function () {

            $.ajax({
                url: this.href,
                type: 'GET',
                cache: false,
                success: function (result) {
                    $('#ModalData').html(result).find('#ordine').modal('show');
                }
            });

            return false;
        });
    </script>
}
